[2015-02-12 17:22] ax3l opened #1 "Add Offsets, Size"
Add offsets for data sets, example: https://github.com/ComputationalRadiationPhysics/libSplash/issues/159

[2015-02-12 17:26] ax3l opened #2 "Allow non-uniform steps"
decouple "time" and "step" - a step does not need to be in time.
- step #
- current time
- current dt

-> absolute time & t_0 != 0 offset
-> might need extra opt. attributes

[2015-02-12 19:13] ax3l opened #3 "Coordinate System"
@RemiLehe @ax3l
- `cartesian`
- `cylindrical:<+m|-m>`
- `other`

We still have to decide if it is that general that it goes in the `openPMD` base format or into `openPMD + ED-PIC` for the beginning.

[2015-02-12 22:45] ax3l opened #4 "Version: also document used extensions"
besides the version number, used extensions should be stored, too (as a (bit)mask? each extension separately?).

[2015-02-25 18:08] ax3l opened #5 "Define <> and []"
Required and optional parameters. Define that `<>` and `[]` is not part of the variable.

Is there a std rfc for that?

[2015-02-25 18:10] ax3l opened #6 "Checkpoints: Additional Information"
Special treatments for moving window required
  - offsets / "slides" if implemented

and minimal information for ED-PIC necessary:
  - E, B
  - all particle attributes

[2015-03-03 14:21] ax3l opened #7 "Check Interoperability with yt project"
[yt's "General Data Analysis"](http://yt-project.org/docs/3.1/analyzing/index.html) objects.

[Paper on ArXiV](http://arxiv.org/abs/1011.3514), section "4.2. Grid Data Format" is a bit brief.

[2015-03-13 02:13] RemiLehe opened #8 "timeStepFormat"
Hey,

I'm writing a Python function that outputs to the OpenPMD format.
However, I'm not sure I understand the "timeStepFormat" attribute.
For instance, if I'm using a "fileBased" system, and that I'm writing a file named "fields0005000.h5", what should I put as  a "timeStepFormat"
- "fields0005000.h5" ?
- "fields%T.h5" ?

I'm guessing the second one, but maybe it would nice to make this clearer w

[2015-03-24 17:29] #8 closed, assigned to ax3l

[2015-03-24 17:31] ax3l opened #9 "Step: Self-Aware"
Some file formats, such as adios, can be used in a step-aware manner.

We could consider relaxing the requirements for the `basePath` in that case, but if it complicates the format by adding more exceptions we might still enforce it.

[2015-03-24 23:15] #2 closed, assigned to ax3l

[2015-03-25 18:52] ax3l opened #10 "Downsampling: General Attributes"
For (field) data sets that were down-sampled, we could add that information so one can calculate the original grid spacing and size again that was used in the simulation.

Things that we have to make sure:
- down-sampling via striding or some kind of averaging (as an other attribute "...parameter")
- striding is also interesting for particle data (but a bit more dangerous due to internal data stru

[2015-03-25 18:53] #3 closed, assigned to ax3l

[2015-03-26 16:20] ax3l opened #15 "Allow flexible `basePath`"
In future versions, a flexible `basePath` should be allowed.

For that we have to provide easy-to-user helper functions for both `fileBased` and `groupBased` files.

[2015-03-26 21:14] ax3l opened #19 "Irregular (Cartesian) Grids"
From Jean-Luc Vay on Thursday 26th, 2015:

[2015-03-26 21:40] ax3l opened #21 "Add Changelog"
for new versions

[2015-03-27 01:25] #1 closed, assigned to ax3l

[2015-03-27 02:10] #5 closed, assigned to ax3l

[2015-03-27 16:15] RemiLehe opened #23 "thetaMode: require geometryParameters"
For the geometry thetaMode we should make geometryParameters mandatory, so people do not skip it thinking of "oh it's implicit in the dimensions of the record".

[2015-03-27 16:18] RemiLehe opened #24 "gridSpacing and gridUnitSI"
For cylindrical and spherical coordinates, the unit of the gridSpacing must be set per component.

We could write an array, so a unit for each component.

[2015-03-29 21:32] ax3l opened #25 "Rename version Attribute"
`version` to `openPMD` or adding an other attribute that allows general readers to detect the standard

[2015-03-30 17:41] ax3l opened #26 "Bool -> UInt"
Use integers instead of Boolean values (same size).

some standards, such as HDF5, do not have a native bool type and using the [h5py](http://docs.h5py.org/en/latest/faq.html)/[libSplash](https://github.com/ComputationalRadiationPhysics/libSplash/issues/152) _enum work-around_ is [not standardized](http://www.hdfgroup.org/hdf5-quest.html#bool).

[2015-03-31 12:02] ax3l opened #27 "`dataOrder`: be more explicit and apply also to attributes"
`STANDARD.md` -> `Field records`:

the `dataOrder` attribute should define that it also applies to the order of arguments in:
- `gridSpacing`
- `gridGlobalOffset`
- `position`

Add an example, e.g., that `gridSpacing` should be an array in order `z,y,x` for C style

[2015-03-31 12:57] ax3l opened #28 "Add More Data Examples"
- a CCD Data Set?
- a compressed small 3D data set
- ...

[2015-04-01 15:15] ax3l opened #29 "Complex Numbers: define touple of two as integral?"
It might be useful to allow touples of two numbers to be defined as integral type for complex components of records.

alternatively, one would need a consistent naming convention for the components.

numpy [complex types](http://docs.scipy.org/doc/numpy/user/basics.types.html) - how does [h5py](http://blog.tremily.us/posts/HDF5/) ([FAQ](http://docs.h5py.org/en/latest/faq.html): _HDF5 struct_) and

[2015-04-01 15:28] ax3l opened #30 "Remove doublication: Required for all records / fields & particles"
`unit` and `unitDimension` should not be mentioned twice...

[2015-04-01 15:49] #30 closed, assigned to ax3l

[2015-04-01 15:50] #26 closed, assigned to ax3l

[2015-04-01 15:59] ax3l opened #31 "Make "Replace Const Component" General"
The particle's trick to make a component "constant" can also be useful for fields.

-> move to "general" section in `STANDARD.md`

[2015-04-01 16:03] ax3l opened #32 "particleGroups: move to general standard"
The `recommended` additional `record` for `particle species` should be moved to the more general `STANDARD.md`

[2015-04-02 13:31] ax3l opened #33 "New Attribute `componentOrder`: Order of Components"
For additional records such as the ~~`particleGrouping` (bad name, it collides with the definition of `group`)~~ `particlePatches` the order of the components is relevant.

We should generally add an attribute for each `record` that is not a scalar, that tells the order of components (and hopefully makes their individual naming irrelevant).
- type: _(string)_
- examples:
  - `x;y;z`
  - `r;z`

[2015-04-02 14:06] #32 closed, assigned to ax3l

[2015-04-02 15:47] ax3l opened #34 "Particles: Neighbor lists"
On 02.04.2015 17:38, Huebl, Axel wrote:

P.S.: On the long run, we should exchange how/if you want to store things like neighbor lists.

I was thinking about putting two records per particle species: one for the length (or start offset) of the neighbor list per particle and one with the actual, concatenated lists.

[2015-04-02 23:32] RemiLehe opened #35 "Current version of openPMD"
Which version will OpenPMD be in its first release ?
1.0.0 or 0.0.1 ?

[2015-04-03 08:31] ax3l opened #36 "Move `longName` to general Standard"
Some attributes such as `longName` (recommended for particles in the `ED-PIC` extension) are so general, that they could be moved back to the general standard.

[2015-04-08 11:14] #36 closed, assigned to ax3l

[2015-04-08 11:20] #25 closed, assigned to ax3l

[2015-04-08 11:45] ax3l opened #37 "Checker: Test Types and Formats"
Test and create (valid on 32 and 64bit machines):
- [x] types of `attributes` ([numpy docs](http://docs.scipy.org/doc/numpy/user/basics.types.html))
- [x] `format` of some strings, e.g., the date attribute
- [ ] length of array `attributes` (e.g., `particlePatches`)
- [ ] types of specific `records` (usually free type for records)
- ~~add test that `componentOrder` actually describes existing reco

[2015-04-09 12:47] ax3l commented on #29
Careful: [HDF5 Fortran](https://www.hdfgroup.org/hdf5-quest.html#pcmpdf90) support for compound data types is pretty bad.

Link moved: [archive](https://web.archive.org/web/20190913180832/https://support.hdfgroup.org/HDF5/hdf5-quest.html#pcmpdf90)

[2015-04-10 07:22] #33 closed, assigned to ax3l

[2015-04-10 08:02] #31 closed, assigned to ax3l

[2015-04-10 08:03] #35 closed, assigned to ax3l

[2015-04-10 08:54] #4 closed, assigned to ax3l

[2015-04-14 22:26] ax3l opened #38 "Strings: Variable Length?"
[Recently](https://github.com/ComputationalRadiationPhysics/openPMD/commit/33d24cdccd2f6566183ee9638b461d55aed5e289), I set to fixed-length strings due to [this h5py note](https://github.com/h5py/h5py/blob/ac08ec797df3968a1cc5b65e168e73335b140c98/docs/strings.rst#fixed-length-ascii).

It looks like implementing and accessing variable-length strings is not so hard (https://github.com/ComputationalR

[2015-04-15 12:26] #38 closed, assigned to ax3l

[2015-04-21 14:05] ax3l opened #39 "Derived Records"
As in xdmf, derived records could be pretty useful.

[2015-04-21 15:40] ax3l opened #40 "Linter to fulfill VizSchema"
Comparison of the openPMD standard to Tech-X's [VisSchema](https://ice.txcorp.com/trac/vizschema/wiki/WikiStart):

Facts about VisSchema:
- very free set of namings of groups and records (can be good and bad at the same time)
- developed for visualization of various particle & mesh codes, but mainly for VORPAL
- _very close_ to (serial) VTK/XDMF namings (can again be good and bad at the same time)

[2015-04-24 09:43] ax3l opened #41 "Boundary Conditions for Particles & Fields"
Boundary conditions for particles & fields are still missing.

Most of them, such as _periodic_, [Lindman](http://www.sciencedirect.com/science/article/pii/0021999175901023) open-space, "absorbing", ... might be general enough for STANDARD.md, others such as PML can be added by extensions.

On a side note: also initial conditions are interesting, but not directly necessary for, e.g., restarting fr

[2015-04-28 13:44] skuschel opened #42 "Filtered Particles: Mark as Duplicate"
Some PIC Codes (such as EPOCH) have the ability to dump particle subsets based on a variable set of requirements. For Example: in LWFA dump only the electrons that have gamma >2. Is this planned?
### Alternative Idea

@skuschel [commented](https://github.com/ComputationalRadiationPhysics/openPMD/issues/83#issue-102083290)

Instead of marking duplicates we could mark entries as 'original' data, mea

[2015-05-03 17:26] RemiLehe opened #43 "Particle Attributes: Scaling with Weighting"
The property momentum (for the particles) is not very well defined in the standard, in the sense that . Is it $m\gamma v$ (in units kg.m^s-1) or $\gamma \beta$ (dimensionless momentum) ?
(Notice that this not only a problem of units, since $m$ will vary from one particle to another.)

The first solution is maybe the most conventional, but will typically result in numbers of the order 1e-20 (due to

[2015-05-13 16:02] ax3l opened #44 "Remove EOL Whitespaces & 80 Char Limit"
- copy paste into word/writer and check typos/spelling again
- Remove EOL whitespaces and other style minor cleanups `sed -i 's/ *$//' fileName`
- 80 char limit for all files `cat fileName | fold -w 80`
- run `sed 's/\t/    /g' -i fileName` on all files one more time

[2015-05-13 16:37] ax3l opened #45 "ED-PIC: Start of in-cell position"
For general meshes, `gridSpacing` defines the size of each element on a mesh but not where it starts. Nevertheless, the start and end of the mesh node can be derived from `gridGlobalOffset`.

**ED-PIC:** The problem occurs for the definition of `globalCellId` & (in-cell)`position`. One should either define the offset/start of the cell again so it's independent or force it to be the same as the E o

[2015-05-30 13:11] skuschel opened #46 "add Particle ID support"
For every macro particle in the simulation the standard defines to save: `charge, mass, weight, x, y, z, px, py, pz`, see https://github.com/ComputationalRadiationPhysics/openPMD/blob/draft/EXT_ED-PIC.md#additional-records-per-particle-species

Some codes also offer the option to assign a unique `ID` to every particle. This allows to track particles over the simulation. I suggest to add this to th

[2015-05-30 13:46] skuschel opened #47 "clarify format of particle positions"
I am confused where exactly particle properties are saved. In the ED PIC Extension it sais ( https://github.com/ComputationalRadiationPhysics/openPMD/blob/draft/EXT_ED-PIC.md#additional-records-per-particle-species ) for the momenta:
`/particles/<species name>/momentum/x`
`/particles/<species name>/momentum/y`
`/particles/<species name>/momentum/z`
would all return an array of floats. But for the

[2015-05-30 13:54] skuschel opened #48 "simplify definition of particle positions"
Another related question to my last one: Why would you want to have the definition of `postition` depending on the presence of another variable (`globalCellId`)? That is confusing and not easy to use. A Standard should be as simple as possible and ideally we want it in a way, that you can either use it or not. But this adds the options to use it incorrectly without noticing, because you get the ba

[2015-06-03 07:49] ax3l opened #49 "particlePatches: patchID -> numParticlesOffset"
The `patchID` in `particlePatches` is actually confusing and might imply sorting that would be necesary to be clarified.

We should therefore remove it and rather write the 1D offset where the patch begins in the global array. That makes the object easier to understand and less error prone for implementations.

[2015-06-11 22:17] skuschel opened #50 "Keyword for dt"
OpenPMD doenst specify yet the keywords for grid spacing and timestep. PIConGPU calls it `delta_t` for time, but `cell_width` and `cell_height` for the grid. That seems inconsistent to me.

OpenPMD should specify to call those `delta_t`, `delta_x`, `delta_y` and `delta_z` instead.

[2015-06-18 11:05] ax3l opened #51 "ED-PIC: Checkpoints and Dumps"
The "required" particle attributes in the [ED-PIC extension](https://github.com/ComputationalRadiationPhysics/openPMD/blob/draft/EXT_ED-PIC.md#additional-records-per-particle-species) are currently pretty broad.

One could relax the "required" to "reserved" attributes when defining a minimum kernel of attributes for checkpoints. Nevertheless, non-complete data sets are not ideal for reproducibilit

[2015-06-18 13:07] skuschel opened #52 "make clear use of keywords like "required", "mandatory", "recommended", "additional", "reserved", "optional""
I think we are mixing up here 2 different things while talking about openPMD, because people have diffenrent things in mind what the standard should do and what it shoudnt.

1) I (perspective of a PIC user) usually have in mind to have unified dump format, that specifies for example where E and B fiels and particle properties are dumped, in case they are dumped. I also sais WHERE all information a

[2015-07-30 18:44] RemiLehe opened #53 "Global definition of the time at the top file level"
When working with time series of OpenPMD files, it is rather cumbersome to get the time to which each file corresponds.

The main reason is that the time is an attribute of a `record`. I understand the rationale for this (for instance E and B may be staggered in time). However, that means one has to dive into the file (checking if there is any field at all; if yes, looking up which fields are defi

[2015-07-31 18:01] RemiLehe opened #54 "componentOrder"
I am a little bit confused by the `componentOrder` attribute in the [STANDARD.md](https://github.com/ComputationalRadiationPhysics/openPMD/blob/draft/STANDARD.md). I know we probably discussed earlier, but unfortunately I do not remember why it is useful.

Actually, I am wondering what  the meaning of a "natural order" is here. Is that from the point of view of how the HDF5 file stores the informa

[2015-08-17 16:54] ax3l opened #55 "Move of Repository"
Dear @ComputationalRadiationPhysics/openpmd-contributors and @ComputationalRadiationPhysics/openpmd-maintainers ,

we will move the repository to it's own organization during the week under
  https://github.com/openPMD

we will split up the repo and add additional tools/scripts.

Since the repository with version `1.0.0` will become public with the change, you should still be able to access it :)

[2015-08-17 18:12] ax3l opened #56 "particle record: offset"
the particle record needs a counterpart for the `mesh`'s `gridGlobalOffset` (positionGlobalOffset)

[2015-08-18 01:31] #49 closed, assigned to ax3l

[2015-08-18 01:44] ax3l opened #60 "Constant Data"
For data that is not changing over time, such as geometry information for detector positions or grids, one could think about a general path to store it (outside of `/data/%T/`, e.g., `/data/constant/`).

this can cause problems when only sharing a single time step of a simulation.

[2015-08-18 16:05] #53 closed, assigned to RemiLehe

[2015-08-18 16:14] #50 closed, assigned to RemiLehe

[2015-08-18 16:51] #47 closed, assigned to RemiLehe

[2015-08-18 16:54] #54 closed, assigned to ax3l

[2015-08-18 18:12] #56 closed, assigned to ax3l

[2015-08-18 18:55] #46 closed, assigned to RemiLehe

[2015-08-18 22:24] #43 closed, assigned to RemiLehe

[2015-08-18 23:16] ax3l opened #72 "ED-PIC: Particle-Target (e.g., Ionization)"
### ED-PIC extension

It might be convenient to add an attribute pointing to an electron species shall be used as a "target" for newly created free electrons from ionization methods. Other methods might need similar pointers (e.g., boundary conditions that create particles, etc.)

[2015-08-20 00:12] #23 closed, assigned to RemiLehe

[2015-08-20 01:27] RemiLehe opened #81 "Create some real data in the example"
check if 2D and 3D for fields/particles is ok

[2015-08-20 07:53] skuschel opened #83 "mark data as 'original' simulation data"
maybe an alterantive to #42 : Instead of marking duplicates we could mark entries as 'original' data, meaning: not downsampled, not only a part of the simulation grid: the grid is the actual full simulation grid and the data is the actual quantitiy, that was used for calculations. for a particle species: the particle species is complete, this is not a subset.

[2015-08-20 08:06] skuschel opened #84 "Simulation restarts"
please give me a hint if this has been discussed earlier: One important usecase is surely to restart a simulation from a dump. Ideally the standard should be good enough, that you can continue the simulation even with another PIC code, but thats details for the future...

for now: Another `basePath` attribute `complete` should indicate whether or not this dump contains full (physical) information

[2015-08-20 08:11] skuschel opened #85 "Use cases/design goals"
I realize, that I start most of the issues with something like 'Image someone wants to....'. Do you agree to make a list of use cases for that standard? That makes it easier to see what anyone of us expects from it and also for new users, what can be done with it, with which design goals in mind it was written.

Its probably easier to understand what it does and for what purpose, instead of readin

[2015-08-20 16:19] #83 closed, assigned to ax3l

[2015-08-20 18:02] #45 closed, assigned to ax3l

[2015-08-20 18:03] #48 closed, assigned to ax3l

[2015-08-20 18:47] #84 closed, assigned to ax3l

[2015-08-20 18:52] ax3l opened #88 "ED-PIC: Restarts"
This issue is a collection of ideas and best-practices that will be necessary for restarts within the ED-PIC extension. Developers of PIC codes, that implemented the `1.0.0` version of openPMD to their output and restart files and added _additional information_ to the restarts to deal with moving windows, boosted frame, ... etc. are welcome to share their experiences/requirements regarding additio

[2015-08-20 21:50] #85 closed, assigned to ax3l

[2015-08-21 01:10] ax3l opened #92 "Particle ID: General Standard"
The particle ID (unique across all particle records for original data sets) can be an optional but reserved name in the base standard.

[2015-08-21 01:11] ax3l opened #93 "Spelling: openPMD"
cross-check that all spellings use a small initial `o` in `openPMD`

[2015-08-21 01:12] ax3l opened #94 "Constant Record Components: Shape"
The shape information is currently "lost" when creating a constant record component. Add this attribute as `shape` alongside `value` in `dataOrder`.

[2015-08-21 01:15] ax3l opened #95 "ED-PIC: More unitDimension advices"
For the types defined in `ED-PIC` we can already add advises what dimension they must have.

In the base standard, we should keep `position` not forced to be of the dimension `lengths` (`[1., 0. ... 0.]`) because other applications such  as CCDs might use them as indexes.

[2015-08-21 01:16] #41 closed, assigned to RemiLehe

[2015-08-21 04:06] #93 closed, assigned to RemiLehe

[2015-08-21 05:09] #95 closed, assigned to RemiLehe

[2015-08-21 05:10] ax3l opened #98 "ED-PIC: Update Description particlePatches"
minor description update necessary regarding `position` and `positionOffset`

[2015-08-21 05:54] #27 closed, assigned to RemiLehe

[2015-08-21 06:30] ax3l opened #100 "ED-PIC: Types more Relaxed"
- types for `particle` records can be either _(float)_, _(int)_ or _(uint)_ for most of the listed ones (basically: user can choose freely).
- `E` and `B` need a bit more definition, add `unitDimension` advice and (leave `unitDimension` free for `J` and `rho` for now since it changes with the dimension of the sim and is only auxiliary anyways)

[2015-08-21 15:55] RemiLehe opened #103 "Checker: Support Iteration per File"
The checker assumes that all the iterations are in a single file. (instead of one iteration per file)

This should be fixed

[2015-08-21 16:39] #94 closed, assigned to ax3l

[2015-08-21 16:39] #98 closed, assigned to ax3l

[2015-08-21 16:39] #100 closed, assigned to ax3l

[2015-08-21 17:02] #103 closed, assigned to RemiLehe

[2015-08-21 18:21] ax3l opened #105 "ED-PIC: Move Particle Boundaries"
The particle boundaries are currently, due to the `thetaMode` that makes it possible that a particle boundary for the position components `x` and `y` is defined over a combination of both, e.g., a virtual `r`, defined on the mesh.

This is sub-ideal, since it forces all particles to use the same boundary conditions, which might not be the case. Examples: semipermeable walls, (re-)injector walls +

[2015-08-21 18:52] #52 closed, assigned to ax3l

[2015-08-21 18:59] #92 closed, assigned to ax3l

[2015-08-21 21:28] #44 closed, assigned to ax3l

[2015-08-22 01:29] ax3l opened #111 "Validator: Enable Extension Switch Automatically"
Output found extensions and enable the switch (currently `--EDPIC`) automatically as soon as the markup is found.

[2015-08-22 01:33] ax3l commented on #55
@ComputationalRadiationPhysics/openpmd-contributors and @ComputationalRadiationPhysics/openpmd-maintainers ,

all issues for the release `1.0.0` are now closed and we are entering a _feature freeze_ phase with implementation updates in Warp and PIConGPU (+libSplash).

We are going to move more and more parts of this repository to public soon in separate repositories such as
- [x] `https://github.c

[2015-09-24 14:38] ax3l opened #113 "Refactoring particlePatches"
When implementing the `yt` reader we realized the following issue:

Particle-only readers quite often need statistical information about the position (box) the particles live in. This is bad, because doing a `min/max` over all particles is a heavy non-metadata operation and we don't have an attribute giving a min/max.

Also, accessing mesh data of the `meshes` is quite odd, not only because the ba

[2015-11-10 14:23] #113 closed, assigned to ax3l

[2015-11-11 15:55] #55 closed

[2015-12-04 18:22] RemiLehe opened #115 "Allow user to store non-openPMD information"
Today I had a request from a prospective user of openPMD: can the user store other datasets in the HDF5-openPMD files, which are **not meant** to be read by the openPMD parser / viewer ? (for instance because they don't fall either in the category mesh or or in the category particle)

From my point of view, the best way to do this is to store this data outside of the `basePath` (in this case the p

[2015-12-04 21:12] ax3l commented on #115
Absolutely, they can store it everywhere as long as it does not collide with reserved attributes. The standard is not exclusive and only defines a minimal required markup :)

That is also the way how new extensions (might) develop: from best practices of existing additional attributes & records.

Regarding other data sets (records): if they are stored in the base path + particle/mesh path they nee

[2015-12-05 21:10] ax3l opened #116 "Attribute in `/`: Machine Name"
One could store the name of the machine/hardware a simulation/data acquisition was done on.

I would propose to store it in the base standard, alongside attributes such as `author` and `software`, as _recommended_ in `/` with naming `machine`:
- `machine`
  - type: (string)
  - description: machine that created the file
  - examples: `titan-ornl` (HPC cluster), `pco.pixelfly usb` (scientific [14bi

[2015-12-05 21:13] ax3l commented on #115
Make absolutely sense and good point and we should make this more clear in the standard.
I marked it as a `revision change` (patch level) which means it can be added in e.g., a `1.0.1` release (as you already marked!).

[2015-12-07 18:11] RemiLehe commented on #115
Ok, great! I'll do a corresponding PR in the next few days.

[2015-12-10 12:40] ax3l commented on #115
An other and additional/orthogonal approach to allow non-openPMD information _inside_ `basePath` too: if one wants to avoid parsing of _additional_ `records`, in detail
- directories
- data sets

(since additional attributes do not harm the parsers), we could also provide a **prefix that is ignored** by the parsers. Lets say their names must start with "+".
But maybe that is messy.

Would allow to

[2016-01-07 13:12] ax3l commented on #24
Meshes: @PrometheusPi has a case in the [PIConGPU radiation plugin](https://github.com/ComputationalRadiationPhysics/picongpu/wiki/Plugin%3A-Radiation) where he wants to store [complex amplitude data](https://github.com/ComputationalRadiationPhysics/picongpu/pull/1053#issuecomment-169282390) as 2D matrix in a [rectilinear grid](https://en.wikipedia.org/wiki/Regular_grid). Also here, an array for `

[2016-01-08 15:43] ax3l opened #120 "Substructure vs. Constant Records"
Archiving wrong-directed question from https://github.com/openPMD/openPMD-validator/issues/10:

@PrometheusPi

##

@ax3l

the problem is that you created a sub-group A inside a mesh record named record. that is not allowed and will be interpreted as a constant component with name A which needs value and shape.

no. if your data set would be 1D you could use particles for that.

[2016-01-08 15:43] #120 closed, assigned to ax3l

[2016-01-28 10:59] ax3l opened #121 "Iteration Formatting: Support Zero-Padding in %T"
Update: **Just be more clear in the documentation that `%T` also stands for zero-padded integers. Also, `%T` _must_ appear in `iterationEncoding` because this allows to find other iterations in other files/groups.** (Inside a specific file the `%T` in `iterationEncoding` _must not_ be replaced with an actual number!)
##

Many people do zero-padding for iterations, especially for `iterationEncoding

[2016-01-28 18:24] RemiLehe commented on #121
Here is the way it is currently done in openPMD-viewer:

[code]

Is that fine with you @ax3l ?

[2016-01-28 18:36] ax3l commented on #121
Yes absolutely, I think we just could be more clean in the documentation of it.
I totally forgot that matching + str2int for zero-padding is no problem at all in most languages.

Regarding your code a tiny change to make it more general:
if `iterationEncoding` is `fileBased` your regex should be build from `iterationFormat` into the one you use right now.

read `iterationFormat` string -> replace

[2016-04-23 05:50] ax3l commented on #111
Mirgrated to https://github.com/openPMD/openPMD-validator/issues/14

[2016-04-23 05:50] #111 closed

[2016-04-23 05:51] ax3l commented on #7
Migrated to
  https://github.com/openPMD/openPMD-yt

[2016-04-23 05:51] #7 closed

[2016-04-23 05:52] ax3l commented on #6
duplicate of #88

[2016-04-23 05:52] #6 closed

[2016-04-23 05:54] ax3l opened #122 "GridSpacing: Per-Component UnitSI & UnitDimension"
The `gridSpacing` should get a `unitSI` and a `unitDimension` for each of its components.

This allows to describe grid such as `x, ux` or `x,y,t` (although the "time" definition per iteration would then be "for the first row").

[2016-04-23 06:00] ax3l opened #123 "Particle Patches: Offset & Extent General Component"
Particle patches could be made more general in the following way:
- they already describe disjoint sets of hyperrectangles regarding the spatial particle position

One could now:
- define a reference attribute for each record component in `offset/` and `extent/` that names the according particle record component
- this allows to created hyperrectangular patches in, e.g., `ux, x`
- the validator ca

[2016-04-26 12:54] ax3l opened #124 "`macroWeighted` is superfluous"
Argh, `macroWeighted` is superfluous and can be removed, e.g., with the following definition of `weightingPower` in the future:
- macro particle attribute == real particle attribute: `weightingPower` == `0`
- attribute is stored `for macro particle` and can be _linearly_ scaled to real particle: `weightingPower` == `-1.0`
- attribute is stored `for real particle` and can be _linearly_ scaled to ma

[2016-04-26 12:57] ax3l opened #125 "`dataOrder` is superfluous"
By defining things like `axisLabel` are ordered by fastest to slowest varying index one can probably omit `dataOrder`.

needs a bit more evaluation but should be true.

[2016-04-27 08:20] ax3l commented on #124
well, actually there might be particle records that are inversely scaling with weighting.

let us define `m^-1` as a record called "mobility" (inverse inertness). The "mobility" scales with `w**-1` for a macro particle. We can **not** determine _by the sign_ of `weightingPower` if the currently stored record describes a _macro particle_ or a _real particle_ without checking `macroWeighted`.

[2016-05-02 14:41] ax3l opened #126 "DFT/MD Meshes: Basis"
(With Jeffrey Kelling) For the description of DFT codes defining a (non-cartesian) basis instead of `position` in the mesh attributes could already help to store fields in such coordinate systems.

[2016-05-18 14:17] Flamefire opened #128 "Mixed Mesh Layouts: Same or Different Files?"
When running PIC-Simulations one may also have records that are not fields. E.g. running a Photon-Scatter-Simulation with Photons (particles), Field (electron density) and Detector (2D record)

The current version of the standard (to my understanding) demands additional required attributes once the ED-PIC extension is enabled, such as `currentSmoothing`, which do not make sense for a detector (but

[2016-05-19 14:58] ax3l commented on #128
Yes that is correct and as you mentioned there are a few solutions to that.

Creating few files for different aspects of a (complex) simulation is fine, and we do that for various aspects of plugins in PIConGPU all the time for checkpoints. E.g., a particle detector should checkpoint its own internal state in its own file if necessary. The **ED-PIC** extension is for the internal state of the _cor

[2016-05-19 15:00] ax3l commented on #105
`currentSmoothing` is an other candidate that should be a particle attribute for each species that creates the (charged/neutral) current (migrated from #128).

[2016-05-19 15:32] ax3l opened #129 "Simply `axisLabels` (without dataOrder)"
Related to #125: the naming of the indexes to axes of matrices, aka `axisLabels`, should simply be ordered from fastest to slowest varying index when accessing its memory contiguously.
### Example Matrix for `axisLabels = "x;y;z"`

that order means, that the _flattened_ matrix has `x` as its _fastest varying index_ and `y` as the _slower varying index_ and `z` as the _slowest varying index_:

**Fo

[2016-05-20 08:30] ax3l commented on #129
also affects wording for the ordering of `gridSpacing`, etc

[2016-05-23 15:31] ax3l opened #130 "`axisLabels` with better example"
Backwards compatible enhancement (before #129 can be implemented, which would break backwards compatibility).

The writing in `axisLabels` (and `gridSpacing`, etc.) should be as with the _bracket indexing method_ that _wrote_ the record.

E.g., a C-style `E[z,y,x]` with `dataOrder='C'` would be `axisLabels="z;y;x"` (PIConGPU). Warp uses C-style indexing `E[x,y,z]` with `dataOrder='C'` which would

[2016-06-14 13:41] ax3l commented on #123
not clean. better way:
- keep 1d arrays
  - `particlePatches/numParticles`
  - `particlePatches/numParticlesOffset`
- create directories
  - `particlePatches/offset/`
  - `particlePatches/extent/`

allow arbitrary **records** already defined in the species in these new groups. Each unique record + component names needs to exist, including unitDimension, etc., in both directories (and the species'

[2016-07-01 09:47] ax3l commented on #105
additionally, we could call `absorbing` boundaries `open` boundaries as in the `fieldBoundary` namings

[2016-07-01 10:07] bussmann commented on #105
"Open" boundaries sounds ambiguous to me.

[2016-07-01 12:19] ax3l opened #132 "ED-PIC: New Pusher Types"
missing pusher types:
- free streaming
- photon pusher? (free streaming with c) -> can be first case with upcoming species type "photon"
- reduced landau lifshitz pusher (RK4 + radiation drag) [arxiv:1502.02432](http://arxiv.org/abs/1502.02432)
- none

[2016-07-01 14:04] ax3l commented on #105
For particles it might not. Since the boundaries are all surfaces, `open` is used for `open surface` which is well defined what to expect (and implementation dependent on how it is done -> `*Param`).

(the same way we do not write `reflectingSurface`, `reinjectingSurface`, etc.)

[2016-09-02 09:24] ax3l opened #134 "New Radiation-Hydro Extension"
@richardbriggs and @CFGrote are planning an extension for radiation hydro codes (first Multi & Esther; more exist such as: Hyades, Helios, Flash, ...).

This issue documents the progress so far.

openPMD extension name: `Rad-Hydro`

openPMD extension ID: `2` (bitmask!)
### Naming Conventions for Required Records
- temperature
- ionization state / density
- laser intensity
- pressure
- ...
### Requ

[2016-10-12 10:58] ax3l opened #137 "Software Dependencies"
we could add a base attribute for software dependencies in a format similar to module namings:
- `softwareName/version`

Example:
`boost/1.61.0;gcc/5.0;nvcc/8.0;python/3.4;adios/1.10;hdf5/1.8.17`

[2016-11-28 10:29] ax3l opened #138 "ED-PIC: Ionization Schemes"
Document the ionization schemes used on each particle species.

PIConGPU implements [field](https://picongpu.readthedocs.io/en/latest/models/field_ionization.html) and [collisional ionization](https://picongpu.readthedocs.io/en/latest/models/collisional_ionization.html) methods, grouped roughly into:

**BSI - Barrier Suppression Ionization**
This model uses the electrical field strength in the ind

[2016-11-28 10:36] ax3l opened #139 "ED-PIC: Radiation Reaction"
Document if radiation reaction effects have been accounted for at each species.

- classical (e.g., DOI:10.1016/j.cpc.2016.04.002 -> into `particlePush`, is also a RK4)
- QED (e.g. DOI:10.1103/PhysRevLett.106.035001, DOI:10.1103/PhysRevSTAB.14.054401, DOI:10.1088/0741-3335/53/1/015009, DOI:10.1103/PhysRevLett.108.165006, DOI:10.1103/PhysRevE.92.023305, can't find a reference to T Grismayer's ~2012

[2016-12-05 13:59] ax3l opened #140 "JSON"
Evaluate if this standard works out-of-the-box for JSON objects or if there are corner cases.

[2016-12-17 11:08] jaysgstop commented on #140
I got this

[2016-12-17 11:08] jaysgstop commented on #130
In pressing charges

[2016-12-17 12:16] ax3l commented on #140
[spammer](https://github.com/openPMD/openPMD-standard/issues/130#issuecomment-267756972)?

[2017-01-05 09:06] ax3l opened #141 "Mesh gridSpacing/Offset: non-spatial dimension"
### Meshes

Support adding a `unit` to `gridSpacing`/`gridOffset` so it is not limited to spatial dimensionality.

Can even be a time, in which we would have to define how it relates to the iteration-time (e.g., from "zero" in offset).

Example application:
- phase space records

### Particles

Same can be relevant for a particle attribute record `time`, e.g. for a very small number of tracked par

[2017-01-05 09:08] ax3l opened #142 "Mesh gridSpacing/Offset: Array"
Non-equidistant spacing would be very useful.

Allow to use an array to enumerate the axis.
Allows to create non-linear binning.

Example application:
- frequencies of PIConGPU's in-situ radiation plugin
- PIConGPU particle calorimeter plugin

VTK name "Rectilinear Grid" but the "straight line" inside "rectilinear" is not necessary to be fixed.

[2017-01-05 14:02] PrometheusPi commented on #142
great idea :+1:

[2017-03-07 08:39] mccoys opened #143 "How to *not* have a `particlesPath`?"
I am wondering how I could manage to *not* have a `particlesPath` in a file. It seems that the `checkOpenPMD_h5.py` tool is always looking for one, and searching it for all required attributes.

Is there a way to prevent that?

And what about having no `meshesPath` instead?

[2017-03-07 08:55] ax3l commented on #143
Thank you for the question!

For now, just define it to an empty (or non-existing) folder.
Example: `meshesPath = "fields/"`, `particlesPath = "noParticles/"`

Readers looking for particles will check that path and see that the iteration contains indeed no particle species.

[2017-03-23 17:30] mccoys commented on #60
This feature would be very much appreciated. Maybe not in the current way it is formulated.

My situation is that some species have a constant position over time (they don't move). Redefining their position at every timestep is memory-consuming. I would suggest that any record that is not defined at a given timestep should be taken from the previous timestep where it appeared. In my case, I would

[2017-03-27 07:27] ax3l commented on #60
In that case it can be achieved without any change in the meta format with e.g. HDF5. Just use *internal* (for `groupBased`) or *external* data links via the [H5L](https://support.hdfgroup.org/HDF5/doc/RM/RM_H5L.html) API and you can already achieve zero-data references.

[2017-03-27 07:36] ax3l commented on #60
Constant is intrinsically free of preferring a meaning of spatially or temporally, so we [*define* it explicitly](https://github.com/openPMD/openPMD-standard/blob/1.0.0/STANDARD.md#constant-record-components) to mean constant over all elements of a record component of a certain iteration.

Unfurtunately, *uniform* is not free of a double-meaning either, e.g. *uniform movement* means constant speed

[2017-05-05 08:02] ax3l opened #144 "Record Components of Struct"
Saving a struct of same-typed (e.g. of floats) as date can be useful.
This is not ideal for vector components such as positions, momentum, etc. (now stored as components) but can be useful for complex numbers (#29) or even longer fixed-size array attributes (in my case PIConGPU: FLYlite superconfig).

We don't necessarily need to support general structs but at least fixed-size array structs (e.g.

[2017-11-06 13:30] ax3l opened #145 "particlePush: none"
Allow `none` as `particlePush`, e.g. for static particle such as probes.

[2017-11-15 16:20] ax3l commented on #143
ping @RemiLehe: what you asked today

I would suggest something like this in 1.0.1: Add a note at this point that each of the pathes might not exist and this needs to be handled as "no meshed (particles)" found.

We can decide if readers shall or must not issue a warning (but maybe a less important debug level such as info) in such a case. We could also say one should throw a warning but continue,

[2017-11-15 16:46] ax3l commented on #143
discussion today:
even better: make the attributes optional instead of writing rubbish for 2.0 (but then the paths are required to exist if the attribute exists)

[2017-11-20 09:37] ax3l opened #146 "Rename (float) to (floatX)"
The conventions in the first section of the paragraph are confusing since many people think `(float)` is always single precision.

Change it to append `X`.

Maybe also rename `double` with `float64`.

[2017-11-20 23:36] DavidSagan opened #147 "unitSI for dimensionless record components"
For the documentation for unitSI there is

I understand the words but I cannot think of where this could be of use. Can someone give me an example?

(Migrated from https://github.com/marcguetg/h5particle/issues/13)

[2017-11-20 23:37] DavidSagan commented on #147
Answer from @ax3l:

The fundamental idea is: whatever heavy user data a user's sim/detector/instrument/... provides, we do not enforce to convert it before writes.

[2017-11-21 12:48] ax3l opened #148 "Rename Iteration"
Migrated from https://github.com/marcguetg/h5particle/issues/9#issuecomment-345858143

@DavidSagan proposes to rename `iteration` with an other more generic name, e.g. `snapshot`.

[2017-11-21 12:55] ax3l opened #149 "Labels for Symbols and Units"
Migrated from https://github.com/marcguetg/h5particle/issues/9#issuecomment-345858143

@DavidSagan proposes to define additional attributes for labeling the physical symbol of a record and the physical label of its unit.

[2017-11-21 13:01] ax3l commented on #149
### Proposal

- add both as `optional` to the base standard record definition

### Problems we need to address

- the symbol is kind of doubled with the record name but imho that is fine
- shall the label for the unit label the unit *before* conversion or after conversion to *SI*?
- will a unit symbol per record (not component) be ok? (see `unitDimension` per record)
- are we deriving the symbol o

[2017-11-21 13:02] ax3l commented on #149
As a note: it is also easily possible for a data reader of the base standard + domain specific extension to map specific symbols from record names during post-processing. The same is possible for deriving an on-the-fly `unitSymbol` from `unitDimension` in a specific domain.

This would not require standardization of labels in the base standard then.

[2017-11-21 13:11] ax3l commented on #134
@richardbriggs @CFGrote I know Richard is currently between jobs but just a quick question:
Are you already using an [`openPMDextension`](https://github.com/openPMD/openPMD-standard/blob/1.0.0/STANDARD.md#hierarchy-of-the-data-file) ID for your hydro files?

Above I proposed/reserved `2`. Just wanted to know to avoid collisions.

[2017-11-21 13:17] ax3l opened #150 "Extension: BeamPhysics"
@DavidSagan @ChristopherMayes @marcguetg and Andreas Adelmann are planning to use openPMD in https://github.com/marcguetg/h5particle for particle accelerators.

We can already reserve an extension ID for it, so it does not collide with parallel efforts.

openPMD extension name: `BeamPhysics` (draft)

openPMD extension ID: (none) (bitmask! deprecated)

openPMD is also used for experimental data and

[2017-11-21 16:58] DavidSagan commented on #150
you can look at the Bmad manual at https://www.classe.cornell.edu/~dcs/bmad/

Also in the draft standard I am working on the extension ID is just a string. Multiple extensions are separated by a colon.

[2017-11-21 19:12] CFGrote commented on #134
i have no information. @RichardBriggs ? Would it make sense ( I guess it
would) to find a more self-descriptive enumeration scheme for openpdm
flavours? Is it possible to use strings instead of ints?

On Tue, Nov 21, 2017 at 01:11:53PM +0000, Axel Huebl wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer wissenschaftliche Simulationen
European XFEL Gmb

[2017-11-22 11:44] richardbriggs commented on #134
Currently it is set to openPMDextension=2, I don’t have any further information beyond that as I haven’t worked on modifying the opmd files from the hydro files outputs.

I’ve made a note to spend some time looking at this in my final week (ending Dec 8th). I have 2 weeks of beamtime unntil then :/

Richard

[2017-11-22 11:58] t184256 opened #151 "Why a bitmask of extensions?"
I have a handful of questions I've asked @ax3l by email some time ago. I've got no answer, so maybe I'll try asking them here.

`openPMDextension` is a measly `uint32` bitmask, why? Why isn't it an set of attributes, an array of strings, or basically anything more flexible/extensible? It may seem to be an non-issue now, but the more it will become one, the harder it'll be to change.

[2017-11-22 12:39] ax3l commented on #151
Hi Alexander,

sorry for the late response - I indeed have not forgotten your mail and just did not get to it yet (also because our lab evaluation period just starts in various fields...). I will still try to answer your other questions in the e-mail, but indeed the openPMD issue tracker is the right place to ask: here we can publicly archive, link, check and improve orthogonal questions and impro

[2017-11-22 13:12] ax3l commented on #134
Thank you for the quick answer! No problem, wish you good luck in the next weeks!

[2017-11-22 13:15] ax3l commented on #134
yes, absolutely: we are drafting to change that in https://github.com/openPMD/openPMD-standard/issues/151

[2017-11-22 13:16] ax3l commented on #151
CCing @DavidSagan and @CFGrote as they suggest the same change. Thx!

[2017-11-22 14:25] t184256 commented on #151
I cannot resist the temptation to answer.

A maximum of 32 extensions doesn't sound future-proof.

Oh yay, let's save a thousand CPU cycles of overhead and a few dozen of bytes. In a file with megabytes or gigabytes of finely gridded data, where each particle or grid point takes way more than 4 bytes! Sorry, that doesn't sound reasonable.

[2017-11-22 18:07] ax3l commented on #151
Ah I should cross-check my writing before submit!
I just wanted to say `With the property we used they are "extensible".` and continue what I wrote below, that this extensibility is very limited. I do not know how *enough* slipped in there, I was not trying to defend the excellent nerdiness and human unreadability of bitmasks :)

Oh you got me wrong, I very much agree with changing that since pars

[2017-11-22 18:18] ax3l commented on #151
I updated the post above to cross the ~~enough~~ and add more emojis with 👍 after the last paragraph :)

[2017-11-24 12:18] ax3l commented on #42
PIConGPU just recently learned the same feature and we are currently assigning user-defined filters a (user-chosen) name and store particles as `speciesName_filter` in the `particlesPath`.

Nevertheless, we clearly separate the concept of checkpoints and regular dumps so that we can not mismatch them in the same file (also, the simulation is aware of the pre-defined "all" filter).

[2017-11-24 13:25] ax3l commented on #143
@RemiLehe @C0nsultant I would suggest I fix the remaining `1.0.1` wording changes and make this an immediate follow-up `1.1.0`.

I would immediately relax both paths to be `optional` instead of allowing writing "something". This allows to implement it in yt, checker the viewer, etc. simply and together with the `1.0.X` implementations and makes it more clear what is happening.

I can also provide

[2017-11-24 13:43] ax3l commented on #147
I will close the issue for now, if there are no further questions to it. Otherwise we can re-open it anytime :)

[2017-11-24 13:43] #147 closed, assigned to ax3l

[2017-11-24 13:46] anokfireball commented on #143
Admittedly, I still do not see how the proposed combination of required attribute and optional concrete path is the more sensible option for `1.0.X` (i.e. how this better represents the file in openPMD metadata than enforcing the path). If that is what it takes to not break a majority of the already existing output, this is probably inevitable.

Is `1.1.0` supposed to include the concept of `optio

[2017-11-24 13:53] ax3l commented on #143
Sorry, I was too short. I overthought what I wrote above and would suggest the following.

I propose to introduce the following relaxation and of the two attributes `meshesPath` and `particlesPath`:

- relax the two attributes from `required` to `optional`
- in the case an attributes is not set, handle the file as if there are no meshes (particles)
- define that the path they describe MUST exist i

[2017-11-24 14:07] ax3l commented on #115
implemented in 1.0.1

[2017-11-24 14:12] ax3l commented on #128
The current solution is that in the same `basePath` of an openPMD file, the same set of the `openPMDversion` and selected extensions need to be fulfilled.

I leave this open for the future in case we want to relax to put extensions only on sub-parts, but for now we recommend to write several files in case one wants to combine data that is only the openPMD base standard and data that is also using

[2017-12-01 13:41] mccoys opened #155 "Units should not be forced to SI"
We [the Smilei developers] would like to propose a change that was discussed a little [somewhere else](https://github.com/SmileiPIC/Smilei/issues/3): **specifying units in SI could be optional**. In particular, this concerns the attributes `timeUnitSI` (in `basePath`), `gridUnitSI` (of each `mesh record`) and `unitSI` (of each `Record Component`).

We know that this possibility has found significa

[2017-12-01 20:29] #21 closed

[2017-12-01 20:29] #146 closed, assigned to ax3l

[2017-12-01 20:29] #130 closed, assigned to ax3l

[2017-12-04 10:19] ax3l opened #157 "Constant Record Components"
Migrated question from @DavidSagan in https://github.com/marcguetg/h5particle/issues/14

[2017-12-04 10:21] ax3l commented on #157
@RemiLehe 's [answer](https://github.com/marcguetg/h5particle/issues/14#issuecomment-345905263)

[2017-12-04 10:22] ax3l commented on #157
Exactly. Even more general, it is applied to the concept of openPMD record components, so a mesh record component can also be constant if necessary (e.g. the field of a permanent magnet).

That is not necessary for temporarily constant records.

As an example, assume you have a constant set of "hall probes" around a magnet that record magnetic fields at their position over time. Just write the pos

[2017-12-04 10:22] ax3l commented on #157
In the definition of constant record components, we replace a nD array with a constant attribute (`value`). Just for the record, we say what the extent of that constant record should be in `shape` because we loose that information when not writing a data set (array) which would usually be given by a file format otherwise. We just decided for `shape` instead of `extent` as a naming because it's ver

[2017-12-04 10:22] #157 closed, assigned to ax3l, RemiLehe

[2017-12-04 10:31] ax3l opened #158 "unitSI: relax type?"
### Short Description

@DavidSagan proposed in https://github.com/marcguetg/h5particle/issues/11 to remove the constrain of double precision for the `unitSI` attribute.

This increases flexibility a bit and increases reader-logic as discussed in the link above (we can summarize this here in an update of the PR description). In principle, the precision of the data type that is described is high eno

[2017-12-04 17:52] ax3l commented on #155
Thank you very much for opening an issue on the discussed points and the great description! We will answer you as soon as possible, just want to write properly and not in between two meetings (we had a major evaluation last week).

[2017-12-06 01:44] DavidSagan commented on #155
I agree. I don't think there will be a problem if the units would be made optional. One way to do this would be to have an optional boolian attribute in the root group called, say, `scalableUnits`. If `scalableUnits` is `False` (the default), units would **have** to be supplied. If `scalableUnits` is `True` then units would be optional.

[2017-12-06 02:09] DavidSagan opened #159 "Remove meshesPath and particlesPath attributes"
Removing `meshesPath` and `particlesPath` attributes and instead using standard group names of `meshes` and `particles` will simplify both the standard and the make files easier to understand for a human looking directly at the data.

[2017-12-06 07:48] mccoys commented on #155
@DavidSagan I am not sure a boolean is the optimal idea. There could be an integer `numberScalingFactors` which represents obviously the number of scaling factors, or, in other words, the length of the lists defined above (`unitScalings`, etc.).

If `numberScalingFactors` equals 0, then units must be provided. Otherwise, they may or may not be defined.

On the other hand, one would argue that this

[2017-12-06 14:40] ax3l commented on #159
The current proposal in #143 just proposes to:
- make both optional
- if one is set, it means there must be a valid path behind it, otherwise it means there are no meshes/particles to interpret

Will that work for you as well?

The idea is to allow people that have a structure such as
- `/something/<it>/fields` or
- `/something/<it>/meshes`

to keep it without changing fundamental path names.

If

[2017-12-06 14:42] DavidSagan commented on #159
OK making it optional would work.

[2017-12-06 16:51] ax3l commented on #148
Possible collection of similar names that can replace `iteration`:
- snapshot
- step
- (data) dump
- output (number)
- series (number)
- series and episodes ;)
- series and step (too specific?)
- series and event (too specific?)
- experiments: scan & shot
- set?
- sequence?
- ...

And we already thought "iteration" is already superior to the often used "time step" nomenclature ;)

[2017-12-06 16:57] DavidSagan commented on #148
@ax3l

So which do you prefer?

Also should not this issue be in the 2.0.0 project?

[2017-12-06 18:52] ax3l commented on #148
Let's just collect a few names, maybe someone suggests a good further names we did not think about yet.

[2017-12-06 18:54] ax3l commented on #148
Just a side note: an `iteration` is not necessarily a step in time or related to time and can be e.g. in a boosted frame with various times :) (at least that's how we though of it to explicitly avoid the naming "time step")

[2017-12-06 18:55] DavidSagan commented on #148
Fine with me. But out of curiosity what do you like so far?

[2017-12-10 02:45] DavidSagan opened #160 "Use "group" instead of "directory""
In the standard "group" and "directory" are used interchangeably. It would make things clearer if only one or the other was used and "group" makes more sense than "directory".

@ax3l: Please put this in the project 1.1 queue.

[2017-12-10 02:53] DavidSagan opened #161 "Make "time", "dt" and "timeUnitSI" optional in basePath"
Since "time", "dt" and "timeUnitSI" do not make sense, say, when particle positions are recorded at constant longitudinal position. These quantities should be made optional.

@ax3l: Please put this in the 2.0 project.

[2017-12-10 02:59] DavidSagan opened #162 "`particleName/`: Clarify it is arbitrary"
It may be desired to group particles in other ways besides particle type. For example, by what bunch they are in when particles are bunched. So particle groups should be allowed to use names other than the particle species type.

@ax3l: Please put this in project 2.0

[2017-12-10 03:06] DavidSagan opened #163 "Cross-Record Grouping"
Right now there is only one root group for meshes: `/data/meshes/`. As opposed to particles where where there can be many: `/data/particles/electrons/`, `/data/particles/protons/`, etc.

This is restricting. For example it may be desirable to store internal fields separately from external fields. So to have a structure to enable groups like: `/data/meshes/dc_field/`, /data/meshes/particle_field/`,

[2017-12-10 03:33] DavidSagan commented on #149
Actually I was just proposing a units label. I don't mind an optional physical symbol but I'm not sure how useful it will be.

Needed are the units before conversion since a reading program cannot figure this out. A reading program should be able to do a decent job of figuring out what string to display for SI values.

If the standard defines optional units labels at both the record and component

[2017-12-10 03:44] DavidSagan opened #164 "Error checking of attribute, etc names."
There should be a policy in the standard in terms of nonstandard information that is put in a data file. For example, what if a reader encounters a group named `offsetttt`. Is this an error that should be flagged or should the reader just ignore it and thus possibly not catch errors that exist in the file?

One possible thing to do would be to say that if a data file has nonstandard information th

[2017-12-11 09:08] ax3l commented on #164
Thank you for the question/proposal!

Related to #115, this depends on *where* something and *what* is added. For **groups**, the openPMD standard (and readers & [validators](https://github.com/openPMD/openPMD-validator)) are only auto-interpreting listings inside the `basePath` for *iterations* and groups inside *meshesPath* for mesh records and *particlesPath* for particle records. Outside those

[2017-12-11 16:15] RemiLehe commented on #155
Sorry for my (very) delayed answer, and thanks for the detailed discussion of this issue. It is true that the issue of imposing SI units has also been criticized by other potential users of openPMD. Thus it would be great if this discussion could lead to a solution for these users, without disrupting the current ecosystem around openPMD.

As it is, however, my main concern is that the current prop

[2017-12-11 17:10] mccoys commented on #155
@RemiLehe Thank you for you detailed response.

I am not sure how OpenPMD interfaces with yt, but there is definitely a plugin that does the work in the case of Visit. Why not handle the missing ``unitsSI`` arguments in the plugin itself? It could set the scaling factors to 1 (in SI) by default.

[2017-12-11 18:16] skuschel commented on #155
Thanks you very much for the detailed proposal. I really, really like the idea to add optional information about possible scalings of the simulation data. However, I do not see why this makes the `*UnitSI` attribute obsolete. Let me elaborate:

The `*UnitSI` attributes provide a **scaling factor** to convert the data to the corresponding SI Unit. This is essential to give the data a physical meani

[2017-12-11 20:27] DavidSagan commented on #155
@skuschel:

No one is saying it is obsolete. The proposal here is to just make it optional.

But the discussion here is what to do when the simulation uses normalized units which do not have a scaling factor.

Not true. If *UnitSI* were made optional then yt or visit could just use a default scaling factor of 1. The fact that this information is required now is just a reflection of the fact that t

[2017-12-11 22:16] skuschel commented on #155
@DavidSagan
You are right, there are two issues here discussed at the same time:
1) making `*UnitsSI` optional.
2) adding the optional attribute `*UnitScalingExponents` or similar.

Regarding 1:
I apologize for my impression, that the `*UnitSI` may have been seen as obsolete. I agree with you, that it is not obsolete, which is why I cannot understand why it should be optional. No matter in what (n

[2017-12-11 23:47] ax3l commented on #155
I read all your arguments and be assured first, that we are all aware about free parameters in systems of equations and that they are important to understand the physics they describe. But we also need to keep simple things simple and can not over-engineer the logic - simply for the sake of allowing easy implementations in readers. Please be aware that a relatively easy implementation of as much a

[2017-12-12 09:05] ax3l commented on #163
@DavidSagan thank you for the proposal!

Can you elaborate a little on what is missing? Can't this be realized with individual names of meshes for external fields already as in your example?

Why would we need to group the fields further instead of just naming them as a domain-expert would understand?

[2017-12-12 09:10] ax3l commented on #160
Thanks for the report!

Actually, only used to refer to `/`. The term "directory" is currently used three times in exactly that formulation:

when referring to `/`.

I agree that we can also call this immediately

.

[2017-12-12 09:19] ax3l commented on #161
Thank you for the issue!

Can you elaborate on "particle positions are recorded at constant longitudinal position". Wouldn't these positions be stored over a iteration (snapshot) that can be referred to a time again? You mean e.g. a track of a particle within a single iteration (snapshot) group?

The idea behind the absolute time reference in an iteration (snapshot) is to provide a base reference,

[2017-12-12 09:23] ax3l commented on #162
Thank you for the question!

We currently do not impose that a particle name needs to describe the species type. It can be anything and it not interpreted in the base standard.

In our applications, we also have multiple particle groups for various selections of the same physical particle species, e.g. filtered by origin/generation (e.g. which shell of an atom emitted an e- in a plasma), energy, b

[2017-12-12 09:43] ax3l commented on #149
When I think about this, I think adding a "unit label" *before* conversion is not a good idea. Let me explain why.

In order to make data portable, a data writer should not impose how data is represented in a data reader, including its unit system. That means, if a data reader for a specific application wants to represent units in "miles/hour" that is very much possible with the following workflow

[2017-12-12 09:47] ax3l commented on #149
A label for a symbol I find still very useful, e.g. to make something latexy that would be odd/impossible as a record or record-component name.

[2017-12-12 16:54] DavidSagan commented on #163
@ax3l

Looking at this issue again I might be confusing the base standard with the ED-PIC extension. In any case, if I look at the example openPMD datasets I see paths like `/data/400/fields/E` and there is no way to specify multiple E-fields since `meshesPath` is `fields`. My proposal is to add a directory level so that you could have `/data/400/fields/dc-field/E`, `/data/400/fields/ac-field/E`,

[2017-12-12 17:08] DavidSagan commented on #161
Many accelerator physics codes track using the longitudinal position (often denoted "s") as the independent coordinate instead of time. Thus typically one would record particle positions for the coordinates of the particles as they reach some given s-position (typically the edge of an element).

If, for example, the positions of multiple bunches are recorded each bunch will have its own time refer

[2017-12-12 18:02] DavidSagan commented on #149
@ax3l

There is a misunderstanding here. The proposal is for a units label which represents what units the simulation program was using. This does not impose any obligations on a data reader.

The idea is that a units label is for informational purposes only. And this information can be **very** helpful. So, for example, if I look at the raw data in a file with HDFView and see that the data units

[2017-12-12 18:06] DavidSagan commented on #149
Since my proposal is for the units label to be for informational purposes only, if a writer wants to encode the label with LaTex that would be fine.

[2017-12-12 18:23] RemiLehe commented on #163
@DavidSagan I think that Axel's point is that you can always use:
` /data/400/fields/Efield_dc` and `/data/400/fields/Efield_ac` (which would be compatible with the current standard) instead of `/data/400/fields/dc-field/E` and `/data/400/fields/ac-field/E`.

Would that be okay with you?

[2017-12-12 18:37] DavidSagan commented on #163
@RemiLehe

/data/400/fields/Efield_dc and /data/400/fields/Efield_ac (which would be compatible with the current standard) instead of /data/400/fields/dc-field/E and /data/400/fields/ac-field/E.

If I look at "Naming Conventions for mesh records (field records)" section of the EXT_ED-PIC extension it looks like `/data/400/fields/Efield_dc` would not be compatible since, in this example,  `meshesPa

[2017-12-19 15:36] ax3l commented on #150
@DavidSagan started developing this extension in https://github.com/DavidSagan/openPMD-standard/tree/extension-accelerator 👍

[2017-12-20 16:40] ax3l commented on #161
That sounds like a plan.
In case we get #141 implemented in 2.0 this might be able to be expressed in the base standard and we might not need this attributes at all (or at a different location).

[2017-12-20 16:43] ax3l commented on #149
Ok, "informational purposes only" aka "manual, human reader" is indeed useful for certain workflows!

I wonder if we in such a case we even need to *standardize* it - since any writer can write *any additional attributes* in openPMD :) There would not be a benefit *besides* a reserved/unified attribute name if it is not machine-readable.

If that is important enough for us, we can definitely stand

[2017-12-20 16:52] DavidSagan commented on #149
It would be good to standardize this since then a reader, if it is showing the raw data, has the option to show the data units along with the raw data.

[2017-12-20 17:05] DavidSagan commented on #161
@ax3l

Yes I agree that getting rid of these units in basePath would make the standard cleaner.

[2017-12-20 17:26] DavidSagan opened #166 "Simplifying iterationEncoding and iterationFormat"
Proposal: Simplify  the standard by combining `iterationEncoding` and `iterationFormat` into one attribute `iterationGrouping` (which should be `snapshotGrouping` if `iteration` is changed to `snapshot` (See Issue https://github.com/openPMD/openPMD-standard/issues/148)).

For multiple file based grouping  `iterationGrouping` would look something like:
`    file://filename_%T.h5`
And the `file://`

[2017-12-20 17:36] DavidSagan opened #167 "meshName only mentioned once in the standard"
In the 1.0.0 standard:

But `meshName` is nowhere else mentioned in the standard. This is very confusing and should be corrected.

[2017-12-20 17:49] DavidSagan commented on #162
@ax3l

I found this in the standard:

This is confusing since it seems to imply that `particleName` be the species name. If the aim is for the standard to not describe the species type then the above should be modified to make this clear. How about:

[2017-12-20 19:21] ax3l commented on #149
Admittedly, our goal is to motivate people not to look at the unconverted, raw data at all anymore ;)

But I have no hard feelings on adding this, @RemiLehe any opinion on this? If we add it I would make clear that the contained information is non-standardized and should not be "relied" on in any way.

[2018-01-03 11:20] ax3l commented on #150
After correspondence with all contributors to this extension end of last year, we found the extension shall be called `BeamPhysics` (short and descriptive).

[2018-01-12 15:55] ax3l commented on #161
side note: typo in `timeUnitSI`: "conversion factor"

[2018-01-23 10:43] ax3l commented on #162
After having some time to think about it, we could make this extension even more flexible.

The extension will basically define a name of lists and an optional attribute that can be used. I would not not only allow the attribute on `particle records` but on generally all `records`. This allows us to e.g. also use it on meshed quantities, such as phase spaces, densities, etc. :)

[2018-01-23 10:44] ax3l commented on #162
After having some time to think about it, we could make this extension even more flexible.

The extension will basically define a name of lists and an optional attribute that can be used. I would not not only allow the attribute on `particle records` but on generally all `records`. This allows us to e.g. also use it on meshed quantities, such as phase spaces, densities, etc. :)

[2018-01-23 12:29] ax3l commented on #163
After thinking about it: an alternative to prefixes/suffixes in names and nested groups, which are imho harder to parse for readers and complicate things, we could also go for the following: we allow to each mesh (and particle) *record* to add an *optional* attribute, say "grouping"/"groupIdentifier"/"group", that can carry an arbitrary, user-defined identifier (e.g. we decide for strings).

With

[2018-01-23 14:43] ax3l commented on #166
Thank you for the proposal!

The proposal would reduce the attributes from two to one by moving the logic from the attributes to string parsing. If we agree that string parsing might be simpler than reacting on a single-purpose attribute (this is a pure design decision) we could also go one step further:

- remove the `basePath` attribute
- only take the new ` iterationGrouping` / `snapshotGroupin

[2018-01-23 15:24] ax3l commented on #42
Coming back to this proposal for 1.1/2.0:

Instead of the name "duplicate" which only applies for filtered subset but not for diagnostic "probe" and "test" particles: we could also just add an attribute for particle records such as `diagnostics` (default if unset: not a "duplicate/diagnostics" particle.

[2018-01-23 16:10] ax3l commented on #155
Maybe we can just rename:

- `unitSI` -> `unitScaling` (*optional*, default: `1.0`)

Introduce a string attribute alongside each record (or for the sake of simplicity, for each openPMD file series):

- `unitSystem` (*required*, allowed values: `SI`, ~~`CGS`~~ (later), `other:<nonStandardUserDefined>`)

then define a few unit systems (labels of base units, relation to `unitDimension`, conversion to

[2018-01-23 16:22] RemiLehe commented on #145
Sure. I agree with this. Would you like to do a corresponding PR?

[2018-01-23 17:52] ax3l commented on #149
We decided today that the optional feature is useful and should be called explicitly something like `unitRawSymbol`.

[2018-01-23 17:53] ax3l commented on #148
We decided for `series` of `snapshot`s today :) Hurray!

[2018-01-23 17:56] ax3l opened #174 "Contributing Guide"
Add a guide on our workflow from proposal (issue) over decision process (comments & VCs) to change drafting (PRs) and reviews (PR reviews) until standard change in `CONTRIBUTING.md`.

[2018-01-23 17:58] ax3l commented on #42
We discussed this issue today and it is on the border of "complicate the (base) standard a little" vs. "just write diagnostics into a new file".

If one implements it in the base standard, I would suggest that "general" base readers just read such records as usual but expose somewhere in there meta-data attributes the flag, so users can react on it e.g. during loops over all records of an iteratio

[2018-01-23 18:03] ax3l commented on #145
It's already open in #172 :)

[2018-01-23 18:49] RemiLehe commented on #124
Yes, I agree with your last comments. It seems that `macroWeighted` is still useful. Should we close the issue?

[2018-01-23 20:03] ax3l commented on #124
Yes, let's close it :)

[2018-01-23 20:03] #124 closed, assigned to ax3l

[2018-01-24 08:44] mccoys commented on #155
@ax3l

It seems like a good idea, at least from my point of view. There would be a few minor points to be addressed though. For instance, what would be the use of specifying ``<nonStandardUserDefined>``? Where would it be employed? If labels can give symbols to correctly express the units in plots, that should be sufficient. Also, why require ``unitScaling == 1.0`` ? That could be another value, o

[2018-01-24 09:03] ax3l commented on #155
The main point is that it is prefixed with `other:` and a user could just specify anything after it. It is not relevant for the standard but might have a meaning for a domain/app-specific post-processing of a user.

We can also just set `other`, since the base standard can not help with conversions in such a case anyway, but allowing more information might help you at some point.

Yes, definitely

[2018-01-25 09:13] ax3l commented on #160
implemented

[2018-01-25 09:13] #160 closed, assigned to ax3l

[2018-01-25 14:07] #167 closed, assigned to ax3l

[2018-01-25 14:49] ax3l commented on #139
related to #132

[2018-01-25 14:49] #139 closed, assigned to ax3l

[2018-01-25 14:49] ax3l commented on #145
related to #132

[2018-01-25 14:49] #145 closed, assigned to ax3l

[2018-01-25 15:44] #143 closed, assigned to ax3l

[2018-01-25 20:07] RemiLehe commented on #155
@mccoys To answer your question a bit further, I think that there are (as mentioned before) two orthogonal aspects:

- **Stop forcing codes to provide a conversion to SI**: As I understand it, this is very important for codes (like Smilei) that define all quantities with respect to the plasma density. @ax3l's above proposal is one way to solve this issue.

- **Indicate how quantities scale with re

[2018-01-26 01:12] RemiLehe commented on #42
Well, in fact, even with the above proposed attribute, the main use case (looping over particles and calculating charge density) is not guaranteed to work.

This is because openPMD files have no way of guaranteeing that *all* species have been written in the file (and, even for one given species, that all macroparticles have been written in the file). For instance, in the LWFA simulations that I r

[2018-01-26 10:51] mccoys commented on #155
@RemiLehe I agree with everything you said:

* Stop forcing SI units is mandatory for the data to be consistent in some codes.
* Giving a way to scale the data is not mandatory; only convenient. This can be a discussion for future changes. However, if any comparison to another code requires the whole data to be recomputed, it seems a little awkward and a lot of time lost. Having a way to scale the

[2018-01-30 10:04] #132 closed, assigned to nobody

[2018-01-30 16:08] #116 closed, assigned to ax3l

[2018-01-30 16:09] #137 closed, assigned to ax3l

[2018-01-30 16:29] ax3l commented on #155
so instead of renaming `unitScaling` we agree that just making `unitSI` recommended will mean: we don't know the conversion to SI. So we don't need `unitSystem` in that case. Works for me.

[2018-01-30 17:22] ax3l commented on #155
We would propose to simply make the `unitSI` from *required* to *recommended* for 2.0.0.

Just to be open about this, contrary to making it fully *optional* this would mean that due to the limited portability of such a records (or full file), the [openPMD-validator](https://github.com/openPMD/openPMD-validator/) will throw a warning.

This is no problem for your data though, since general openPMD

[2018-01-30 21:47] DavidSagan opened #176 "Standardizing Particle Species Name"
Standardizing the particle species names will make data files more portable.
I am submitting a pull request with a proposed list of names.

[2018-01-30 21:53] DavidSagan commented on #176
@RemiLehe @ax3l: OK a pull request has been submitted.

[2018-01-30 22:48] ax3l commented on #176
Offline results from the last VC: the new extension should define an `attribute` that can be put both on mesh and particle records to describe the species type (via it's value), independent of the record name.

The extension should therefore define a new reserved `record` attribute and allowed `values` for it.

[2018-01-30 23:30] DavidSagan commented on #176
@ax3l: OK how about `SpeciesName` or `SpeciesType` for the attribute name?

[2018-01-31 08:23] ax3l commented on #176
sounds good :)

[2018-01-31 16:53] RemiLehe commented on #149
@DavidSagan I recently had a discussion with @ax3l, and we think that it is better to postpone this issue for now, and maybe reconsider later whether we really need this in the standard.

The reason is that the main use case for this seems to be debugging/informational for one's own file. But it seems that one would rarely look at this attribute for files created by someone else. (In this case, th

[2018-01-31 17:08] DavidSagan commented on #149
@ax3l, @RemiLehe: Think of it this way. A person using, say, my Bmad software, will look at data files generated via the Bmad software but if they are not an "expert" they may be a bit fuzzy as to what the units are. If you want, this could be put in the Beam Physics extension since I don't think that anyone will want to use dimensionless units with the Beam Physics extension. Then it could be con

[2018-02-01 14:40] ax3l commented on #176
or `PhysicalSpecies`?

[2018-02-02 09:51] ax3l commented on #166
ccing @C0nsultant

[2018-02-06 13:49] ax3l commented on #174
implemented in #175 :)

[2018-02-06 13:49] #174 closed, assigned to ax3l, RemiLehe

[2018-02-06 16:29] ax3l commented on #162
Example: let's allow a general `group` string-attribute witch all `records`, including meshes and particles.

The group can be user-given and just needs to match to define a group between arbitrary records. If we define again `;` as a special character, we can allow to add a N:M relation of records in user-defined groups with this attribute. Automated reading can just build a map of groups to look

[2018-02-12 23:14] ax3l opened #181 "gridGlobalOffset: allow int"
Especially in PIC simulations, the grid offset is usually a full number (of cells) and should be able to be stored as int as well to the currently allowed floats.

We should relax its allowed types for `gridGlobalOffset`.

[2018-02-15 15:29] DavidSagan commented on #125
Yes I think `dataOrder` should be removed or at least made optional.

[2018-02-15 16:46] DavidSagan commented on #162
@ax3l:

There seems to be two topics here. One is my proposal to simply clarify the standard (this is, simply change the wording in the standard) and the other is your thoughts about adding a `group` attribute. Would it not be better to split these into two separate issues?

[2018-02-15 17:11] DavidSagan commented on #161
Also should get rid or make optional `timeOffset` in the "Required for each `Record`" section as this is related to the basePath "time" and "dt" attributes.

[2018-02-15 17:30] DavidSagan opened #182 "Rename position and positionOffset"
Right now there is `position` and `positionOffset` under "Records for each Particle Species". The names here are a bit confusing so I propose renaming these to:
[code]
And `positionOrigin` would only be implemented with constant record components.

[2018-02-16 15:36] DavidSagan commented on #182
Another issue: positions with the Beam Physics extension can be phase space coordinates where the **z** coordinate is not actually a position. My thought is to make all position records in the base standard optional and then the Beam Physics extension can appropriately supply the necessary position definitions.

[2018-02-17 13:07] anokfireball commented on #125
After developing two readers/writers that deal with openPMD data and having read the standard numerous times, ```dataOrder``` and ```axisLabels``` are two attributes I **always** have to look up.

I presume ```dataOrder``` was introduced to handle file formats that do not explicitly store which dimensions are fastest. Considering the major formats:
- HDF5 stores row-major only (their Fortran wrapp

[2018-02-20 08:30] ax3l commented on #125
Excellent, I will put you both on the review of that change then.

I would actually remove `dataOrder` completely and describe attributes such as `axisLabel` more precisely. Making it optional will not lift the confusion.

[2018-02-20 13:28] DavidSagan commented on #181
@ax3l Question: Since floating point numbers includes integers are not integers always allowed any place where a floating point number is called for? In other words, it seems to me you don't have to make this explicit in the standard. Any well constructed reader should be able to handle any floating point number that is stored as an integer.

[2018-02-20 15:11] t184256 commented on #181
@DavidSagan, sorry, does your comment suggest storing it as a float encoded as a float that happens to be an integer or as an integer encoded as an integer in a seemingly float field? It's confusing.

[2018-02-20 16:07] ax3l commented on #182
The two-part separation is an implementation for particle-mesh codes (the PM in openPMD), potentially AMR codes and codes dealing with neighbor lists.

Some particle-mesh codes, such as PIConGPU, store positions on two levels: *coarse* up to the nearest associated grid point and *fine* within two grid points. This has several advantages for large-scale simulations, mainly that floating precision d

[2018-02-20 16:10] DavidSagan commented on #181
@t184256 My comment is that if the standard specifies a number as a float then this does not preclude the actual stored number to be an integer. That is, the standard need not specify that an integer is also possible.

[2018-02-20 16:11] ax3l commented on #181
No, in computer science floating point and integer representations are very different. Floats are not the superset of ints and also not vice versa :) Furthermore, one looses precision in most casts ("most" depending on the value).

We specify this reference also very precisely in the first section of the base standard: *Conventions Throughout these Documents*.

[2018-02-20 16:19] ax3l commented on #162
I might be a little confused on this one, we can discuss it in the VC in a few minutes :)

[2018-02-20 16:20] DavidSagan commented on #182
@ax3l OK. The Beam Physics extension is likely to have a different organization so how about making these optional?

[2018-02-20 17:27] ax3l commented on #162
VC result:

I mismatched the purpose of this issue. The standard currently reads for `Particle Records`:

The confusion here was, that @DavidSagan points out "particle name" can be misinterpreted as `SpeciesType` (see new extension).

So this issue is about clarifying what `particleName/` is: an arbitrary, user-given, non-physical name.

[2018-02-20 17:31] ax3l commented on #162
Just for the record, what I thought it was about is what we discussed here: https://github.com/openPMD/openPMD-standard/issues/163#issuecomment-359775825

[2018-02-20 17:34] ax3l commented on #182
VC result: we will read the new proposed `BeamPhysics` extension PR and come back to this question of unifying "origin"/"offset" namings.

[2018-02-21 16:39] DavidSagan commented on #181
@ax3l

This is true but from the perspective of the Standard I cannot see where just specifying that by specifying  data as floating point does not preclude the actual storage as integer is going to be a problem.

[2018-02-21 16:55] ax3l commented on #181
We are just explicit and sometimes we actually need ints only, e.g. for number offsets in (particle) patches or snapshot (iteration) numbers.

[2018-02-21 17:01] DavidSagan commented on #181
All I am suggesting is that in the Standard when you you define "float" it is stated that this always includes the possibly of storing the data as integer. So then you don't have to worry about having to specify things for individual data sets and attributes.

[2018-02-21 17:19] anokfireball commented on #181
I don't see the need for allowing integer values _explicitly_ . Storing the number of cells rather than a physical distance does not conflict with the definition of ```simulation units```.
Furthermore, ```gridGlobalOffset``` is stored as 64-bit double precision floating point, as per the standard. That means that the 53 bit of the [mantissa](https://en.wikipedia.org/wiki/IEEE_754) can be used to s

[2018-02-21 17:20] ax3l commented on #181
I would like keeping it explicit but we could add a definition for *(anything)* that includes *all of the above* and use it. But then, anything is not a string and confuses again. Dunno, I think the explicit way keeps it simple for people and is not too much to write in `type: `.

The reason we kept it to an explicit list of types was simply because we did not explicitly dig into representations o

[2018-02-21 17:36] DavidSagan commented on #181
To my mind this is getting into implementation details that are best left out of the Standard. Just like the Standard avoids specifying that the storage must use HDF5 format. There are long  and short ints and signed and unsigned ints whose representations are different so if you really want to get specific you need to say what is allowed and what is not. And if you specify float or int for one pa

[2018-02-22 16:35] RemiLehe commented on #155
@mccoys As Axel suggested the idea is that `unitSI` would not be required anymore. But we will probably add some language in the standard, saying that not specifying SI units should only be done when it is indeed fundamentally impossible to convert to SI units (e.g. when a Smilei user did not provide a reference density).

Whenever the data is convertible to SI units (e.g. when using ionzation or

[2018-02-23 09:01] ax3l commented on #155
You probably talk about the reference impl in `openPMD-viewer`, where I agree it makes sense.
If we don't have an absolute unit (aka no `unitSI`), we should just plot the power of the dimensions (from `unitDimension`, e.g. [`[L^1 T^-1]`](https://en.wikipedia.org/wiki/SI_base_unit)) instead of a unit, e.g. in different brackets.

For domain-specific viewers/plotters, it is up to the implementer and

[2018-02-23 11:11] mccoys commented on #155
Sorry I did not realize questions where asked to me. I agree that the *recommended* ``unitSI`` fixes the issue with respect to Smilei. If that is acceptable for the philosophy of this standard, then I support this change.

[2018-02-23 16:53] ax3l commented on #142
cc @mccoys

[2018-02-23 16:54] ax3l commented on #166
cc @mccoys

[2018-02-23 16:54] ax3l commented on #141
cc @mccoys

[2018-02-23 16:57] ax3l commented on #166
Note: we should check if `/` is allowed "alone" or if this would collide in groups or logic.

[2018-02-23 17:05] DavidSagan commented on #166
Thinking about it, since files are relative to the currently open file, I would use something like `file::` as the prefix instead if `file://` as less confusing.

[2018-02-26 02:17] DavidSagan opened #187 "Put in **Definitions** section in the Standard"
I propose to put in a **Definitions** section in the standard to make it easier for people to look up what things mean.

Some quick notes:

1) If a **Definitions** section is put in there would have to be some cleanup in other parts of the Standard.
2) Do we want "dataset" instead of "data set" since what is being referred to here is not a generic set of data but a particular construct?
3) The `Na

[2018-02-26 10:10] mccoys opened #188 "Move mesh geometry elsewhere"
*This issue is a bit messy, sorry. My ideas are not clear yet, but I hope constructive discussion will follow.*

Two issues #141 & #142 bring changes to the mesh structure: meshes will not be spatial any more (but of any type) and their spacings may not be regular. Who knows, maybe unstructured mesh will be added some day. All this might introduce a significant overhead, both in terms of memory an

[2018-02-26 10:51] ax3l commented on #188
Thank you for documenting your ideas!

I think moving geometry generally into an extension would be marvelous, even independent of the special spatial case of `thetaMode`.

Such an extension would and should be very similar to existing *visualization markup* standards (see e.g. [here](https://github.com/openPMD/openPMD-converter/issues/2)). Most of them are for a good reason using VTK-naming which

[2018-02-26 14:15] mccoys opened #189 "Meshes with Non-Cartesian Geometries"
The argument ``dataOrder`` may not be sufficient because for future non-Cartesian geometries: we have to be able to specify which of the coordinates is curved. For instance, let's take ``cylindrical``, which is not defined yet in the standard. An array written in the order (``r`` , ``theta`` and ``z``) does not have the same representation as the same array written in the order (``r`` , ``z`` and

[2018-02-26 14:19] mccoys commented on #188
Here is a list of mesh types that I can envision

- ``cartesianND`` (meaning actually several geometries ``cartesian1D``, etc.)
  - spacings: N floats, or N lists of floats in case of irregular
  - offsets: N floats
  - labels: N strings
  - data: N-dimensional array of arbitrary size

- ``cylindrical`` (has three coordinates ``r`` , ``theta`` and ``z``)
  - spacings: 3 floats, or 3 lists of float

[2018-02-26 14:37] DavidSagan commented on #189
@mccoys

And why not? For example, if cylindrical coords are being used why cannot the Standard mandate that there be an attribute for each of the three sub-records that indicates which component the sub-record represents?

[2018-02-26 15:03] mccoys commented on #189
@DavidSagan I think that the naming of axes could provide more qualitative information to the plots (or other visualization) for the user. A cylindrical geometry might have various names for axes in order to match naming conventions that were chosen outside OpenPMD. It's true that, technically, the standard could enforce names, but I find it a bit restrictive.

[2018-02-26 15:38] DavidSagan commented on #189
@mccoys

What could be done is to have two attributes for the component sub-records. One attribute unambiguously identifies that component. For example, (`r` , `z` and `theta`) for cylindrical coordinates. The other attribute could be the any local name. And there would be no restrictions on what the local name could be. This solves the data order problem since the component sub-records are identi

[2018-02-26 16:25] mccoys commented on #189
@DavidSagan that definitely is a possibility

[2018-04-03 04:54] RemiLehe commented on #187
@DavidSagan This looks useful. Would you like to open a pull request with the above?

[2018-04-03 05:02] #151 closed, assigned to ax3l

[2018-04-03 05:02] RemiLehe commented on #151
Fixed by PR #185

[2018-04-03 14:15] ax3l opened #191 "ED-PIC: Remove proton/neutron Number?"
With the new `speciesType` attribute in an extension #180, we can remove (and auto-update) the optional `protonNumber` and `neutronNumber` attribute in the `ED-PIC` extension.

[2018-04-03 14:17] RemiLehe commented on #191
I agree.

[2018-04-03 14:37] DavidSagan commented on #191
And I too agree

[2018-04-03 14:41] RemiLehe commented on #122
For `gridUnitSI` this seems quite simple: we just enter an array of floats (one element per dimension) instead of a single float.
For `gridDimension`, it seems that the most natural thing would be to have a 2d array of dimension Nx7, where `N` is the number of dimensions. However, I am not sure that HDF5 (and others) support 2d arrays as *attributes*. Therefore, I guess that the best choice would

[2018-04-03 14:51] RemiLehe commented on #166
Agree with @DavidSagan's suggestion.
@DavidSagan : Do you want to do a corresponding PR?

[2018-04-03 14:54] ax3l commented on #166
Good point, but let's not reinvent the wheel here :-)

We would use `file` if present as well-defined as in [URIs](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier), where it denotes the *scheme* (protocol).
The following characters decide if it's relative or absolute, depending if they start with a `/` or not.

An *absolute path* just starts with `file:///` https://en.wikipedia.org/wiki/

[2018-04-03 15:17] RemiLehe commented on #191
I can do a PR on this.

[2018-04-03 15:44] ax3l commented on #141
duplicate of #122

[2018-04-03 15:44] #141 closed, assigned to ax3l

[2018-04-03 16:04] ax3l commented on #158
ccing @C0nsultant: it's not high priority right now, do any opinion on the complexity of this?

[2018-04-03 16:07] #176 closed, assigned to nobody

[2018-04-03 16:18] ax3l commented on #159
I think #143 / #171 provided the solution for it :)

[2018-04-03 16:18] #159 closed, assigned to nobody

[2018-04-03 17:02] ax3l commented on #187
VC today: we will address this in it's whole at the end of the 2.0.0 merge window to see what is still missing or lately-defined to improve structure and readability.

[2018-04-07 17:14] DavidSagan commented on #166
@ax3l

This might be a bit confusing since in the URI scheme something like `file://abc/etc...` means that `abc` is the host name which is not how it should be interpreted. So how about just removing the `//` so that something like`file:abc/etc` is a relative path and `file:/abc/etc` is an absolute path?

[2018-04-07 23:19] ax3l commented on #166
that's a good point with the hostname in file URIs!

Yes, either without the `//` (some) or skipping the `file://` protocol completely (e.g. curl) seem to be common ways to express relative files. Will research it a bit more. I think I prefer the latter already for relative files.

- https://www.ietf.org/rfc/rfc3986.txt

[2018-04-24 13:01] ax3l commented on #122
Sorry I missed the question. Yes, HDF5 does support 2D arrays as attributes, ADIOS afaik is limited to 1D arrays right now and as you found out: h5py does not expose that feature. So flattened to the same index order as the data (from fast varying index to slowest) is fine for me as well.

[2018-04-24 14:22] ax3l commented on #182
We realized in the last VC this issue is probably outdated. I will add a label for now, @DavidSagan feel free to comment or close it as applicable :)

[2018-04-24 14:32] DavidSagan commented on #182
@ax3l  No it is not outdated. In fact there is a conflict now with the BeamPhysics extension that needs to be resolved.

[2018-04-24 14:33] ax3l commented on #148
I can implements this together with #166

[2018-04-24 14:46] ax3l commented on #182
@DavidSagan no problem, moved back on the agenda! :)

[2018-04-24 14:56] ax3l commented on #121
I can fix this together with #166 by mentioning `%T` can be zero-padded in its definition. Maybe also adding a note to implementors where it us used.

[2018-04-24 15:07] RemiLehe commented on #148
@ax3l Actually, if it's okay with you, I was planning to implement this with #161. I can try to do it by the end of today, so that it does not slow you down.

[2018-04-24 16:25] ax3l commented on #164
Offline discussion: we will move this to postponed for 2.0.
It's likely actually a (clever) tooling issue and not a standard issue.

[2018-04-24 18:11] ax3l commented on #189
@mccoys can you take a look at #194 ? We are in the process of getting rid of `dataOrder` since the index order to flattened (logical) memory is sufficient. This also works in curved geometries as long as they are [structured](https://en.wikipedia.org/wiki/Types_of_mesh#Structured_grids).

[2018-04-24 18:15] ax3l commented on #148
ok sure, makes sense as well! Go ahead. Didn't see this comment before the VC, sorry!

[2018-04-24 18:22] ax3l commented on #155
Wohow, implemented in #190.
Thank you to all who contributed! :guitar:  :rocket: :sparkles:

[2018-04-24 18:22] #155 closed, assigned to ax3l, RemiLehe

[2018-04-24 19:16] ax3l opened #195 "positionOffset optional"
The base standard defines a `positionOffset` as required particle record.

This can be made *optional* with the implication that if the record is missing, it corresponds to a *zero-offset*.

[2018-04-24 19:16] ax3l commented on #182
VC offline result today:
there were two questions in this issue regarding the base standard's `position` particle record.

a) "Is `position` as a name ok or confusing in a generalized phase space position?" In the `BeamPhysics` extension, it will have a longitudinal component that can have various meanings and names (but is still a length). -> Yes, still ok. We don't require strict frames of refer

[2018-04-25 09:33] mccoys commented on #189
@ax3l I agree with #194, although I haven't given it much thinking. I wonder if the HDF5 interface will make things confusing with the apparent `shape` of datasets being in a different order than the axes labels. And maybe even give different results depending on whether the HDF5 library has the fortran or C default.

[2018-04-25 13:55] ax3l commented on #189
are you referring to the `h5py` library's `.shape` in the type `h5py.Dataset`? It's order is the same as the numpy `ndarray.shape` index order which is by default the C order (unless changed explicitly on creation), so that's consistent.

If you query openPMD attributes such as `axisLabels` now directly as an attribute it will be in the opposite order in a C api as the low-level index order (and l

[2018-05-15 07:33] ax3l opened #196 "Paths: End on /"
First seen in https://github.com/openPMD/openPMD-validator/issues/43

Should we define that all paths end on `/` in the standard?

[2018-05-15 16:04] ax3l commented on #148
VC: we will change #161 individually and combine #121 #166 and after  those are in start on the renaming here.

[2018-05-21 19:00] DavidSagan commented on #196
OK with me.

[2018-05-21 19:23] anokfireball commented on #196
Implementation convenience aside, this adds desirable semantic clarity. Enforcing path-terminators makes paths obvious in all places. Paying one character in return for this expressiveness should be worth it.

We should try to keep this standard agnostic to the standard library support of *any* language. Should a (_sane_) code written in those languages implement funtionality involving paths, veri

[2018-06-20 18:19] anokfireball opened #197 "Consistency across a series?"
Nowhere in the standard is it specified that attributes, groups and datasets must be consistent (at least their presence, name and position) across all files in a fileBased series.

The concrete undefined behaviour I ran into is this:
Starting with #171, ```meshesPath``` and ```particlesPath``` are optional in the sense that their presence indicates the presence of the contained group.
It is possi

[2018-06-21 09:06] ax3l commented on #197
Yes, that's true. In `openPMD-viewer` we have an (optional) user flag checking and enforcing consistency during open.

It probably makes sense to ask for consistency in a series for those very practical reasons. And if varying *structure* (other records, etc.) need to be written to put it separate series. But I can also see how this leads to unnecessary many files, e.g. if one wants to dump a cert

[2018-06-22 13:53] ax3l opened #198 "Requirements for Extensions"
Coupled of from the discussion with @C0nsultant in https://github.com/openPMD/openPMD-api/issues/283

We should state in the base standard, where we introduce extensions that extensions must be *compatible with the base standard* in the following way:
- *redefining meaning* is fine (e.g. positions), but keep logic (e.g. summation rule in positions #182)
- *removing* (required) attributes or (requi

[2018-09-26 10:21] ax3l opened #199 "Weighting -> Weight"
For consistency with most PIC codes, we should probably replace `weighting` with `weight`. Did a quick survey and most use `weight` indeed.

Related: https://github.com/ComputationalRadiationPhysics/picongpu/issues/2708

[2018-10-27 20:33] DavidSagan opened #200 "Proposed: particleState record"
Some particles in a bunch may get lost (EG hit the vacuum chamber wall) and it may be desirable to record their "final" positions along with the rest of the particles. I therefore propose an optional **particleStatus** record in the Particle Root Group. I'm thinking this could be an integer with 0 indicating the particle is "alive" and anything else means "dead".

For Bmad, at least, it is useful

[2018-10-27 20:35] DavidSagan commented on #200
I would make ParticleState optional.

[2018-10-29 09:16] ax3l commented on #200
Thanks for the proposal!
We have a similar case in PIConGPU on which we record particle leaving the simulation domain for virtual detectors.

Wouldn't you just add such particles in a special ("left-the-box") particle species (group)? Practically, that's how we do it. Additionally, one could add a scalar particle record remembering the time when a specific particle in such a particle was moved to

[2018-10-29 18:58] DavidSagan commented on #200
@ax3l

This is possible but if there are multiple bunches it simplifies the bookkeeping to not create separate groups.

The absolute time is already a per particle record.

[2018-11-06 17:16] ax3l commented on #200
Reminds me of: #42

[2018-11-06 17:23] ax3l commented on #200
Today's meeting result: let's put it in `EXT:BeamPhysics` first and then check if we also take it for `EXT:ED-PIC` et al. :)

[2018-11-06 18:09] skuschel commented on #200
I do not understand what information we gain by defining a particle state. The list of possible particle states ("left the box", "annihalated", "recombined with atom A", "recombined with atom B", "left the box on top",...) is a open list. Therefore I do not see a benefit in standardizing it and everything else is exactly what the comments section is for.
Also I do not understand, why less groups s

[2018-11-06 18:18] skuschel commented on #42
In comparison to #200 the purpose of this issue was solely, to create and automated way to choose particle groups in order to get a full set of particles and none twice. I realize this was not as clearly written: Assuming you have particles, which belong into multiple particle groups. They would also be dumped multiple times and using all dumped particle positions to calculate e.g. the plasma dens

[2018-11-06 18:56] ax3l commented on #42
Yep, just cross-linked it because it's similar. In both cases a particle record would still be best (can be scalar and constant) for maximum flexibiliity.

The issue with this request here was , that we do not guarantee to have a *complete* dump in openPMD data set (and we soldom do dump complete particles in PIConGPU for instance). Therefore calculating a "total charge", etc. is hard to automate

[2018-11-06 19:10] DavidSagan commented on #200
Correct. Therefore there is no proposal to standardize this list. The only thing that is proposed is to standardize the name **particleStatus**.

Carful. "it" in this case is the name **particleStatus** not the list. Here is an example of how this could be useful: Program A saves coordinates of both living and dead particles. Program B reads in this file and, since particleStatus is part of the st

[2018-11-06 19:58] skuschel commented on #200
Consequently a `particleStatus==5` can mean the same as another codes `particleStatus==7 or particleStatus==9`. IMHO I totally prefer comments over this. They would be at least human readable.

I tend to disagree. It is not about convenience here, otherwise we would not need OpenPMD, because every code would just write data as it is "convenient". It is about having standard information in a standa

[2018-11-06 21:07] DavidSagan commented on #200
Provision for a translation table could be made to make things human understandable.

There are several things to consider here. Convenience is one factor but not the only one. The bottom line is will this be useful. Maybe having a few 100 particle groups with different states would be fine for your purposes but for for simulations I run this would not be.

Not true. Bmad based programs can use **

[2018-11-06 21:47] skuschel commented on #200
In fact, there **is** another option, which is particle groups. Anyways, if you guys are all convinced, that this is not only useful, but **necessary to represent information, that cannot be represented by the current version**, keep going. Just for the record: I strongly vote against this change as it does not simplify the exchange of information between different programs (meaning programs, whic

[2018-11-06 21:55] skuschel commented on #42
That is correct, you do not have a guarantee, which is probably the best reason against this. I like the way you described it for PIConGPU: just adding `_filter` to the group name. This is clearly human readable, and at the end of the day, the user must decide what species to include. That might totally resolve the problem by itself.

[2018-11-06 21:55] #42 closed

[2018-11-07 17:15] ax3l commented on #187
@ChristopherMayes posted in https://github.com/openPMD/openPMD-standard/pull/193#discussion_r188371209:

http://fortranwiki.org/fortran/show/Real+precision

[2018-11-09 09:47] ax3l commented on #200
I think indeed taking numbers & translation tables is not ideal but we want to make it a record (constant or not) putting strings is not great, because each entry has a different length if non-constant.

If we, on the other hand, don't want to label individual particles but whole particle species (groups) for now, a comment, reserved new a string attribute (instead of a magic number) or a group-la

[2018-11-09 15:20] DavidSagan commented on #200
@ax3l I need it particle-by-particle and not on a per-group basis so a species group string is not helpful. My experience is that by far most simulations simply care about the particle being "alive" versus "not alive" so using an integer will generally not be problematic.

[2018-11-09 18:33] skuschel commented on #200
I could not stop thinking about it and in my perspective, there are two things which need to be clarified:
1) Why can the information not be provided within the possibilities of the current standard? I.e. What is the argument, that this is really needed on a per-particle basis and and not on per-particle group?
2) How does the change enhance interoperability with other simulations? Of course meani

[2018-11-09 19:01] DavidSagan commented on #200
@skuschel

1. There currently is nothing in the standard saying how to specify a "dead" particle group. If you believe otherwise please provide an example or pointer to where in the standard this is discussed.

2. As I mentioned earlier, my experience is that by far most simulations simply care about the particle being "alive" versus "not alive" and the proposed "particleState" standard is unambig

[2018-11-09 21:46] ChristopherMayes commented on #200
I am in favor of adding the per-particle particleStatus(integer), with a list of common statuses enumerated in the standard. Particle status is used by many codes, and sometimes this list can be long. See, for example, the Astra manual:
http://www.desy.de/~mpyflo/Astra_manual/Astra-Manual_V3.2.pdf

Alive (track) and dead (don't track) could be standardized, with more added as the common needs are

[2018-11-09 22:22] DavidSagan commented on #200
See page 3 of the Astra manual. One thought would be to have a second per-particle record called particleType which could be used to sort out passive particles from ref particles from probe particles, etc. At this point, since I don't understand the details, I'm not advocating this but it is something to think about.

[2019-03-02 20:05] DavidSagan opened #205 "Proposed: Non-standard program specific information files"
I am now in the process of interfacing Bmad with code to read/write openPMD files and I am contemplating the issue that I may be putting "extra" information into the files that are created that are not part of the openPMD standard. For example, information about the lattice.

Since this information may potentially be useful to other program maintainers, I propose letting program maintainers submit

[2019-03-03 17:52] ax3l commented on #205
Hi David,

in general, openPMD is totally open to store more information in form of attributes or even other groups in data files. You can always add program-specific attributes or even non-openPMD data #115, if you consider them not suited for standardization, only applicable to a specific application (and documented therein), etc.

I am not entirely sure if such information should just be part o

[2019-03-03 22:20] DavidSagan commented on #115
@ax3l

I would propose that that it should be allowed for groups and data sets to be freely added. I can imagine situations where, for example, a person wants to add per-particle data and the restriction that this has to be put outside of the group that holds the particle data makes things very messy. Certainly we could mandate that such added groups or data sets be marked as extra. For example us

[2019-03-03 22:32] DavidSagan commented on #205
@ax3l

Yes understood.

This information definitely should be part of the specific program's documentation. The proposal here would just *also* collect the information in the openPMD Git repository. This is advantageous for a number of reasons. By putting all this information in one place it makes getting at this information simpler. Also, for example, I did not know that PIConGPU was using openPM

[2019-03-04 03:01] DavidSagan commented on #205
@ax3l Consider these use cases:

A) When a person who maintains program X interfaces reader code to read in openPMD files, if he/she sees that program Y stores some extra information that could be used in program X, then he/she can extend the the reader interface to read in the information if it is available.

B) When further developing the openPMD standard, knowing what extra information differen

[2019-03-08 15:31] DavidSagan opened #206 "Small inaccuracy in standard"
In the standard:

The word "respectively" does not makes sense here. This sentence should be:

In general, all data sets shall be stored as homogenous arrays or matrices,

[2019-03-08 15:41] DavidSagan opened #207 ""Vector Records" should be defined in the standard"
Should clarify that it is a vector of data sets as opposed to just a vector of (integer or real or whatever) values.

[2019-03-09 10:20] ax3l commented on #207
I am a bit confused: The standard currently defines already scalar and tensor records, which includes the latter. You want to mention just the latter fact more clearly?

Just as background: For the data type of a record, many important data formats such as ADIOS2 do not yet support structs or n-floats as individual element-value, therefore we do not chose it. Also, we have more flexibility of scal

[2019-03-09 10:22] ax3l commented on #206
:+1:

Also, instead of "stored", "represented" would be more accurate. The standard does not care about how a file format "stores" physically, we care about how it is *represented*, e.g. through a format's official API.

[2019-03-09 22:53] DavidSagan commented on #29
@ax3l

Additionally other formats may not support directly complex numbers at all. To maximize portability, I would vote for the standard mandating complex storage as real and imaginary datasets or amplitude and phase datasets. If using amplitude and phase, should the conversion factor to SI convert to radians or radians/2pi?

[2019-03-09 23:25] DavidSagan opened #208 "Small syntax change in standard"
In the standard, I would change:

to:
powers of the 7 base measures characterizing the units of the record after conversion to SI

This makes clear that unitDimension is not the units of the raw numbers in the record.

[2019-03-10 01:44] DavidSagan opened #209 "Proposed: "localName" attribute"
Consider the following situation: In the BeamPhysics extension there is the `time` record and the `timeOffset` record for beam particles with the actual time being `time` + `timeOffset`. In Bmad, `timeOffset` will be the reference time and `time` will be the deviation from the reference time. It would be helpful to be able `time` and `timeOffset` appropriately. Therefore I propose having an option

[2019-03-10 05:05] DavidSagan commented on #205
@ax3l

Another comment on this: My plan is to put information in the Bmad manual and then, If approved, I would simply have the Bmad information file stored in the openPMD repository point to where the information is located in the Bmad manual. I definitely do not want to maintain the same documentation in two places.

[2019-03-10 17:04] ax3l commented on #29
Side note: ADIOS2 has first-class complex support.

I am not entirely decided on that yet, maybe some formats just don't support complex and I am really intrigued to push those to improve instead. We don't have "required" complex records or attributes yet besides the geometry `thetaMode`, where we split in real and imaginary so far. Amplitude and phase is a good point as well... actually phase nor

[2019-03-10 17:27] DavidSagan commented on #29
I'm not sure what you mean by "intrigued". One way to handle this would be to say that if the format supports complex numbers than that should be used and if not then use real/imaginary or amp/phase sub datasets.

Actually for the beam physics extension there is the photon polarization which is complex.

[2019-03-11 04:51] DavidSagan commented on #207
My apologies. I was vague. In the standard, under the section "Scalar, Vector and Tensor Records", the following or something like it should be added (and the existing first three paragraphs should be appropriately modified):

A `record` is a data structure that stores data. A `scalar` record stores a single type of datum. For example, a scalar record may store `temperature` which will be a set of

[2019-03-20 23:40] DavidSagan commented on #29
@ax3l
And hdf5 does not directly support complex numbers so this is a portability problem for the files I will be creating. So how about this for the standard:

If the format supports complex numbers as a native type then use the native type otherwise store the complex numbers in sub-groups as real and imaginary with labels `real` and`imaginary`,  or amplitude and phase with labels `amplitude` and

[2019-03-22 22:29] DavidSagan opened #210 "Case sensitivity"
Small refinement here. In the standard I would change:

to:

[2019-05-28 09:33] ax3l opened #211 "Empty Record Component"
It is in principle possible and valid to store a constant record component with `extend` attribute of zero, e.g. to document the attributes of a particle species with currently no "alive" particles.

It would make sense to explicitly define a "empty record component" just like the "constant record component" which makes the additional "value" attribute non-required, e.g. for types that cannot be s

[2019-06-13 19:27] DavidSagan commented on #26
Need this for the Beam Physics extension. Propose: 0 = False, everything else is True.

[2019-07-14 19:25] DavidSagan commented on #29
Note: Since the beam physics extension is using complex numbers in more than one place, if a convention for complex numbers does not get into the main standard, then a convention will have to be put into the extension.

[2019-07-17 16:01] ChristopherMayes commented on #29
It looks like pytables and h5py both use 'r' and 'i' as names for the compound dataset. Actually, FORTRAN has had a complex datatype since at least FORTRAN 77. I don't like also specifying phase and amplitude - the user should convert.

[2019-07-18 04:57] DavidSagan commented on #29
Yes using 'r' and 'i' to be compatible with pytables and h5py would be a good idea.

Fine with me.

[2019-09-13 17:57] ax3l commented on #26
Yes, it's probably easiest to stay with integers as used in `C` there.

[2019-09-13 18:21] ax3l commented on #29
Yes, we should also stay by default what [C11](https://en.cppreference.com/w/c/numeric/complex) and [C++](https://en.cppreference.com/w/cpp/numeric/complex) do: a simple POD datatype of two `float`, `double` and `long double` of the order real+complex. We can easily add this to the C++ and Python frontend APIs. [Fortran seams to do the same layout.](https://en.wikibooks.org/wiki/Fortran/complex_ty

[2019-09-13 18:26] DavidSagan commented on #29
Chris has been using h5py. I have not.

[2019-09-13 18:32] ax3l commented on #29
@ChristopherMayes did writing a data set and/or attribute with complex numbers in `h5py` and then identifying it as complex and reading it via Fortran - and vice versa - work for you? Just looking for someone with experience in this so we can find a programmatically compatible solution.

As far as C++ and Python is concerned, we will just add it here: https://github.com/openPMD/openPMD-api/issues/

[2019-09-16 10:54] PrometheusPi commented on #29
How would this new standard definition effect &Copf;<sup>3</sup> datasets [as used in PIConGPU](https://github.com/ComputationalRadiationPhysics/picongpu/blob/6e5c2c916329fa47fe184744831b737f9d223ffe/include/picongpu/plugins/radiation/Radiation.hpp#L577-L582)?

[2019-09-23 19:55] ax3l opened #212 "Extension: Molecular Dynamics"
@ejcjason is working on a new extension for MD-codes with a first draft [here](https://github.com/ejcjason/MDDomainExtension).

If you like, feel free to open a pull-request to the `upcoming-2.0.0` branch with it when you feel ready for review. We are likely to be able to include it in the 2.0.0 release cycle still :)

[2019-10-11 14:30] JunCEEE commented on #212
Sorry for this late reply. Thanks,  I would like to do that. I plan to open the pull-request next week.

[2019-11-17 17:30] ax3l commented on #212
Great, yes feel free to open a PR to this repo's `upcoming-2.0.0` branch when you are ready :+1:

[2019-12-13 15:37] DavidSagan commented on #29
@PrometheusPi

Here there are three complex numbers (x, y, z).  PIConGPU uses a single level to store all 6 (real and imaginary) arrays. The convention for openPMD would be to have x, y, and z groups and then store "r" and "i" arrays as datasets of these groups. That is there would be two levels.

[2019-12-13 15:58] DavidSagan commented on #29
@ax3l @ChristopherMayes
Since the beam physics extension is actively being used, and since the question of complex storage has come up, I added a note to the extension on how complex numbers should be stored in line with this discussion. The idea is that when the 2.0 version is finalized, this text can be transferred to the base standard.

[2019-12-13 16:04] ChristopherMayes commented on #29
For a complex array Z, having a group `Z/` with arrays `re` and `im` or `r` and `i` seems consistent with the rest of the standard.

[2019-12-13 16:20] DavidSagan commented on #29
@ChristopherMayes
So right now the note I wrote mandates "r" and "i" to be consistent with h5py.

[2019-12-17 22:38] ax3l commented on #29
You could then store them as regular record with record components as ℂ.
Note to the reader: this is an in situ plugin of PIConGPU using this so far, not the main I/O (plugin) routines.

I think generally extensions can do this but it makes parsing by a pure base-standard reader more complicated. My idea is actually, like the title of the issue, to just allow integral complex types (just like floa

[2019-12-17 23:43] DavidSagan commented on #29
@ax3l
So how would you word this in the standard? What happens if someone is using a format that does not support complex nor compound types?

Also with your example above do you have non h5py code that can read this in. I would be curious to see this (or how to write this using non-h5py code).

@ChristopherMayes
Have you tried to read in grid field files with complex fields generated by Bmad usin

[2019-12-18 01:35] ax3l commented on #29
I would propose to just allow complex floating point types as integral types.
File formats that do not support complex integral types simply cannot store complex types, I would say (aka some file formats are not suited for all scientific data). We intentionally do not try to re-invent file formats and a complex is literally just a `value[2]` or equivalently `struct{ T r; T i}`, so one has quite so

[2019-12-18 20:57] DavidSagan commented on #29
@ax3l

Actually I would say that the purpose of any standard is to improve portability at the expense of creativity.

So how about this for the standard: 1) If a file format supports complex that is to be used. 2) If a file format does not support complex but supports structs then store complex as a struct with component labels "r" and "i". 3) If a file format does not support complex nor structs

[2019-12-18 23:39] ax3l commented on #29
Yes, there ways to express complex numbers in HDF5 which are broadly enough supported to be used (aka `h5py`). I'll show you an example implementation with the HDF5 C api in https://github.com/openPMD/openPMD-api/pull/639, but I will need a bit more time to work on this and just started yesterday. It's literally just the creation of a HDF5 compound type of two identical floats, with two labels `r`

[2019-12-19 15:35] DavidSagan commented on #29
@ax3l

Actually it does not look like the h5py way is broadly supported. For example see:
https://mathematica.stackexchange.com/questions/63983/hdf5-and-complex-numbers

So, to be portable, the standard needs to lay out some guidelines on how complex numbers are to be stored. How would you word this in the standard? How about something like: 1) If a file format supports complex that is to be used.

[2019-12-19 17:21] DavidSagan commented on #29
@ax3l @ChristopherMayes

Another issue I thought of is that in the case where, say, the complex component is zero, If you follow the h5py way then you double the storage size needed as compared to using two sub-datasets. Is this penalty really worth it?

[2019-12-19 19:23] ax3l commented on #29
I think generally we can add a note for file formats. Such as "HDF5 bool and complex type representations must be h5py compatible."

I think that's generally the easiest way: for other formats, contact the reference implementation in `openPMD-api` and/or open a public issue.

If we implement sub-groups then we have to implement this sub-group parsing in all readers and upgrade scripts, which I try

[2019-12-19 19:23] ax3l commented on #29
(Sorry, clicked wrong button.)

[2019-12-19 19:24] DavidSagan commented on #29
@ax3l @ChristopherMayes

OK but let me write something first since I have a new proposal...

[2019-12-19 19:52] DavidSagan commented on #29
@ax3l @ChristopherMayes

Upon further reflection I propose this for the standard:

Complex data types are to be stored in a group with datasets (or constant record components if the values are constant) labeled "re" for the real part and "im" for the imaginary part. Using "re" and "im" storage is mandated even if the storage format supports native complex numbers.

Motivation. The advantages are:

[2019-12-20 17:57] ax3l commented on #29
As reasoned above, we do not have a file format that does not support complex in our production workflows. Due to the reasons above (maintenance, reference implementations, upgrades, etc.) I would not standardize this until someone has a concrete example workflow where this is needed.

You are of course welcome to provided PRs to the reference implementations (viewer, API, validator scripts, upgra

[2019-12-20 21:24] DavidSagan commented on #29
This is not true. Let me quote again from https://mathematica.stackexchange.com/questions/63983/hdf5-and-complex-numbers

In terms of maintenance, reference implementations, upgrades, etc., my proposal is actually **superior** to using a struct since there is less code to write.

[2019-12-20 22:21] ChristopherMayes commented on #29
I agree with the @DavidSagan 's post above for labeling 're' and 'im' datasets.

[2019-12-21 02:38] ax3l commented on #29
Let's have a VC on this in the new year.

Adding our own conventions neither adds compatibility to armadillos nor other tools. Adopting a widely used convention such as h5py's adds native support to many tools and is not more complicated for all others adapters, we just document the used convention for hdf5 in our standard.

[2019-12-21 18:12] DavidSagan commented on #29
@ax3l

??? The quote I give above indicates that this is not true. What evidence do you have to the contrary?

What non-h5py based native tools are you thinking of?

Actually it **is** more complicated if you are using the standard C/C++/Fortran HDF5 interface. Not much more but with the convention I suggested it basically takes two lines to read in complex data. With the h5py convention I have to

[2019-12-21 18:44] ax3l commented on #29
I am suggesting to continue this discussion in a VC after the holidays, with concrete examples and a simple compatibility matrix.

I heard your points, you can already in 1.* implement this for all scalar records without any change and I mentioned a minimally invasive, non-overhead alternative above. Creating a HDF5 compound type is a four-liner, and I need to see concrete workflows how you read d

[2019-12-21 20:24] DavidSagan commented on #29
I agree and concrete examples are a good thing to clarify the discussion.

No I don't use armadillio. It was just part of the quote discussing compatibility.

Right now complex fields are stored in, for example, Bx, By, Bz scalar records. Perhaps this should be changed to B_field/x,y,z?

And if you could give me an example of using compression that would help.

[2020-01-26 22:21] JunCEEE commented on #212
Hi @ax3l , the extension pull request has been submitted:  https://github.com/openPMD/openPMD-standard/pull/218

[2020-03-06 01:28] ChristopherMayes commented on #15
I agree. In many of my uses, I would like to set `basePath`  and `particlesPath` to `/` . Could this be done with the 2.0 standard?

[2020-03-06 02:09] DavidSagan commented on #15
I agree with Chris. This should be an easy thing to specify and it would save code maintainers time to implement this with 2.0 rather than later.

[2020-03-06 06:17] ax3l commented on #15
Sounds good! :+1:
(I am on vacation from today until next Sunday, but placed it already on the list.)

[2020-03-09 03:55] DavidSagan commented on #15
So I propose that basePath can be any absolute (must begin with "/") directory specification. If basePath does not have a "%T" then there is no more than one messes group and no more than one particle group.

Question: Should constructs like "/xy%Tz/" be accepted? This would match to "/xy001z/" etc.

[2020-05-13 16:40] ax3l opened #219 "License Keyword"
Add a new data license keyword to openPMD `/`.

This can be used to express open access (creative commons) licenses et al. and avoids decoupling this important information from the medium the data is stored in.

Short-hand identifiers are defined in SPDX as well:
https://spdx.org/licenses/

And we should keep a default/free text option for whatever non-free stuff people come up with.

Proposed `/`

[2020-05-13 16:52] DavidSagan commented on #219
Hmmm. I'm not sure what the rules are in other countries but in the USA it is not possible to copyright information. Only the expression of that information can copyrighted.

[2020-05-13 20:12] ax3l commented on #219
(Disclaimer: I am not a lawyer. This is no legal advice. Check for your specific use case.)

Are you sure? What does information include in that case? Figures (2D pixel meshes), maps, databases, etc. *can* easily contain created data with enough originality that falls under general IP and copyright, as far as I know.

Even if something is not applicable to copyright in a certain country then e.g.

[2020-05-13 20:27] DavidSagan commented on #219
Quite sure. For example from https://libguides.library.kent.edu/data-management/copyright :

The standard example is the case of a telephone directory. You can copyright the layout of the directory but you cannot copyright the data so someone else is free to publish the same data as long as they use a different layout. For openPMD based files the layout is mandated by the openPMD standard so I do

[2020-05-13 20:34] ax3l commented on #219
Interesting, thanks! Yes, seems very different in other countries.

As found by the copyright.gov link above, "enhancing" a database with coprighted material is another thing that could trigger copyright. For example, if I carefully pre-select particles I write in a file, store a post-processed result again in openPMD, etc. this is likely to trigger copyright.

The telephone directory did not sour

[2020-05-13 20:36] DavidSagan commented on #219
After mulling it over a bit, I am against having a data license field in openPMD. If a person wants to keep their data private so be it. But if a openPMD dataset is shared I do not want to have to worry about rights. I do not like the idea that my actions in using an openPMD data set may set me up for being sued.

[2020-05-13 20:37] ax3l commented on #219
A data license, just as open data itself as well as open source *does never* imply one is forced to publish this data *not even any derived works*. This is a common misunderstanding of open source and open data and indeed against the freedoms of open-X standards.

In most countries, default copyright will apply as would be with `other:unspecified`. Indeed, if you share data (private or publicly) a

[2020-05-13 20:47] DavidSagan commented on #219
I never said anything about mandatory sharing.

Actually I believe the opposite is true.

[2020-05-13 20:50] ax3l commented on #219
Oh then I misunderstood. I thought you mean this:

Which is totally fine, even with a specific license. (License terms can contain MoU, commercial licenses, etc. as well for some users. If the writer of the file does a valid claim is not our business.)

[2020-05-13 21:01] DavidSagan commented on #219
The bottom line for me is still that if someone hands me a datafile I do not want to have to check if a certain field in a data file gives me permission to use it.

[2020-05-13 22:17] ax3l commented on #219
Not a lawyer, but if a collaborateur hands you a data file this means you got an implicit, non-exclusive usage right to read it and nothing further, just as one would expect.

They could still keep the data file closed otherwise and license it elsewhere.

The use case is really the opposite, e.g. people that aggregate/crawl/scan data for meta-studies, training, etc. and cannot do a manual contact-

[2020-05-13 22:45] DavidSagan commented on #219
Well if you want the standard could be amended to say that by default any data file that uses the standard has no license restrictions and that if any restrictions are to be placed, the restrictions have to be transmitted externally along with the file. I just do not want to be forced to look in the file itself.

[2020-05-13 23:24] ax3l commented on #219
I see your point. But just as before, we will not force people to make their data essentially public domain.

Well, then it's easy: we limit entries to clearly defined FSF and OSI approved licenses and everything else is `other:`, which we document to raise a warning in data readers.
https://spdx.org/licenses

Data readers can also decide to abort on anything but the former and `other:unspecified`

[2020-05-13 23:30] tgamblin commented on #219
Just going to jump in here to clarify some points.

RE: @DavidSagan:

True.  However, a file or a specific output is an expression of information.

RE:

There seems to be some misunderstanding here.  US copyright law is very clear that by default, all rights are reserved on any copyrightable work.  Open source licenses are necessary for that reason -- they *grant* the right to copy copyrighted wor

[2020-05-14 02:55] ChristopherMayes opened #220 "Use ISO 8601 standard for date"
The base standard has:
- `date`
    - type: *(string)*
    - description: date of creation in format "YYYY-MM-DD HH:mm:ss tz"
    - example: `2015-12-02 17:48:42 +0100`

But there is a good standard for this:
https://en.wikipedia.org/wiki/ISO_8601

I suggest that ISO 8601 is the standard for the `date` string, e.g.
  `2020-05-13T19:41:34-07:00`

[2020-05-14 18:26] ax3l commented on #219
Thank you for the thoughts, feedback and context.

I updated the proposed text in the description accordingly.

[2020-05-14 18:37] ax3l commented on #220
Good catch, I was thinking the same thing last week when someone posted about ISO 8601.

[2020-05-14 18:40] ax3l commented on #220
Out of the [extended formats](https://www.w3.org/TR/NOTE-datetime) in ISO 8601, should we go for
[code]
or
[code]

Looks like the decimal fraction of a second can be arbitrarily long, which is good.

[2020-05-14 18:51] ax3l opened #221 "Series Considerations for Streaming Improvements"
As a quick reminder, openPMD is not a file format or even a format per se, it's a meta-data markup. We just implement it on top of popular hierarchical file formats as a reference.

@franzpoeschel et al. already implemented working implementations of streaming openPMD data and meta-data with [ADIOS2](https://github.com/ornladios/ADIOS2) SST https://github.com/openPMD/openPMD-api/pull/570.

We shou

[2020-05-14 19:00] ChristopherMayes commented on #220
I usually use `datetime` builtin Python package to deal with these strings:
[code]

But @ax3l your second string is not valid.

[2020-05-15 20:57] ax3l opened #222 "Triangle Meshes"
We currently draft a way to interpret triangle data that represents cavity surfaces in accelerators. We adopt this from an existing representation in ASCII.

The simple way to store such data is to use a particle species that contains three records "vertex1", "vertex2", and "vertex3" which each of them having an "x", "y", and "z" record component in them.

On then defines the orientation of the tr

[2020-05-19 04:32] DavidSagan commented on #219
OK so here we need to separate US law from, say EU law.

For US law indeed facts are not copyrightable. From https://www.copyright.gov/help/faq/faq-protect.html:

The article you site is about copyrightable expression. It is not about facts.

The openPMD syntax represents expression of facts and so is copyrightable. However,
if someone creates an openPMD file, they cannot claim copyright since the

[2020-05-19 05:21] ax3l commented on #219
I fear you still assume that binary files that some of us sometimes call data bases are not subject to copyright. This ain't the case.

That is not correct. US law explicitly talks about "_Uncreative collections_ of facts". That is very different from mere facts.

The binary files in question here do not distribute only *indices of data* (such as library book lists or telephone books) but actual d

[2020-05-19 05:25] ax3l commented on #219
Just for your information, the "mere physical facts" collected at CERN are also licensed appropriately: http://opendata.cern.ch/record/201

They have though out and automated the handling of these unavoidable consequences.

[2020-05-19 23:11] ax3l opened #223 "CCD Extension"
I have drafted an implementation to store series of CCD images for experimental data.

I'll write up the according extension as a PR.

Implementation: https://github.com/openPMD/openPMD-CCD

[2020-09-02 18:02] ax3l commented on #29
Meeting minutes from Sep 2, 10:30 AM PT

- attending: @ax3l @DavidSagan @ChristopherMayes @ejcjason

Action items:
- specify an appendix in the base standard for data model conventions
- HDF5:
  - assumptions not specified in the C90-like HDF5 model need to be h5py compatible
  - we already follow those conventions for `bool` and constant-size `string` padding, now we add the convention used for `

[2020-09-02 18:06] DavidSagan commented on #29
@ax3l @ChristopherMayes OK I removed the paragraph in the Beam Physics extension on how to store complex numbers. The extension is now all set to become official.

[2020-09-02 18:13] ax3l commented on #29
HDF5 code example to define a new, h5py-compatible complex `float` type (equivalent for `double` and `long double`):
C++:
[code]

h5py example:
[code]

[Fortran](https://github.com/mokus0/hdf5/tree/master/fortran/examples):
[code]

[2020-09-24 08:07] steindev opened #225 "Proposal: `particlePushParameters` Attribute"
Similar to the `fieldSolverParameters` attribute, which is mandatory if `fieldSolver = other`, a `particlePushParameters` attribute could be added.
This should be mandatory if the `particlePush` attribute is `other` such that additional descriptions are possible.

[2020-09-24 08:19] steindev opened #226 "Proposal: Add `Higuera-Cary` to the list of allowed values for `particlePush` attributes"
The Higuera-Cary pusher is a few years old by now, thoroughly tested and implemented by WarpX, PIConGPU and possibly others.

It is probably time to admit its existence :smile:

See
---
* [Higuera's article on arxiv](https://arxiv.org/abs/1701.05605)
* [Riperda's comparison of relativistic particle integrators](https://doi.org/10.3847/1538-4365/aab114)
* And the errors in printed formulas spotted

[2020-09-24 09:04] sbastrakov opened #227 "Are text attributes case-sensitive?"
Question occured because of `currentSmoothing` possible values containing weirdly capitalized `Binomial`, even though generally it feels the non-capitalized names are used.

[2020-09-24 14:09] DavidSagan commented on #227
Yes case sensitive.

[2020-09-25 08:28] sbastrakov commented on #227
Thanks @DavidSagan !

So now I know capitalized `Binomial` current smoothing is correct (even tho not sure it is logical).

[2020-09-25 08:28] #227 closed, assigned to nobody

[2020-09-29 07:02] ax3l commented on #226
Thanks for documenting this. I had it on the radar and thought I made an issue for it already, but this seems to not be the case yet. Done now! :)

[2020-09-29 07:05] ax3l commented on #225
Thanks for the suggestion.

Another more compact solution we use in other places is to use the same field, but only defined the prefix `other:`.
For example: `particlePush` value `other:somethingThatIsUnspecifiedButCanBeAnythingUntilTheNextVersionGivesItAName - why not also spaces? Everything is possible and easy to parse that way`.

Would that also work for you? :)

[2020-09-29 07:48] steindev commented on #225
Sure! Just stumbled across it and it felt like it was forgotten. With your solution, I like that it is specified *and* compliant with the standard already!

I would be fine with closing the issue.

[2020-09-29 08:34] sbastrakov commented on #225
@ax3l I think it's a nice convention. However, is it documented somewhere in the standard files? From looking [here](https://github.com/openPMD/openPMD-standard/blob/upcoming-2.0.0/EXT_ED-PIC.md) does not seem compliant, as it says only `other` is a valid option, not `other:[text]`

[2020-09-29 15:20] DavidSagan commented on #29
@ax3l Could you expand the above example to include reading and writing? Thanks.

[2020-10-02 09:11] PrometheusPi commented on #225
@ax3l Would giving a non-standard string like `other: Higuera-Cary` break any open-PMD analysis tools etc. that run specific checks?

[2020-10-02 09:13] ax3l commented on #225
Not that I am aware of, that's the idea with the prefix.

[2020-10-02 09:13] PrometheusPi commented on #225
Okay

[2020-10-02 09:35] psychocoderHPC commented on #225
I suggest to use json after ":" instead of an arbitrary string behind.

[code]

And openPMD should define useful basic tags you can optimally use e.g. description, dio, name

[code]

But maybe the word `other` should be fully removed and the string should become always a valid json string.

[2020-10-02 09:38] ax3l commented on #225
That's also a good idea. The point with other prefix is, that you can literally write anything behind it in a non-Standard Format until a new revision of the standard is out. So you could use json.

It's probably just not worth it to standardize those other formats further, since we can add new keywords in patch level releases.

[2020-10-02 13:56] PrometheusPi commented on #225
@ax3l Okay - so the strings defined by the standard should be interpreted as prefixes and can be extended by any string - is this idea somewhere mentioned in the standard? (I could not find it.)

[2020-10-05 21:51] ax3l commented on #29
Offline discussed: yes. @DavidSagan Can you please provide a minimal read/write example that just writes/reads a simple scalar field on which I can extent on? (Sorry for my weak Fortran.)

[2020-10-05 22:04] DavidSagan commented on #29
@ax3l Examples posted at Slack...

[2020-10-07 02:49] ax3l commented on #29
We made it :tada:
This is a self-contained example based on https://github.com/mokus0/hdf5/blob/master/fortran/examples/compound_fortran2003.f90:

[code]

Output analysis:
[code]

And with `h5py`:
[code]

[2020-10-31 01:34] DavidSagan opened #231 "Proposal: If there is just external field data, basePath should not be required."
It makes no sense to require definition of `basePath` if there is no particle or mesh data. External field data has its own path called `externalFieldPath`.

Proposal: Make `basePath` required only if there is particle or mesh data.

[2020-10-31 16:47] DavidSagan opened #232 "Proposal: Make iteration based attributes "required" only if iteration data is stored"
The following iteration related attributes are marked as `required`:

- `iterationEncoding`
- `iterationFormat`
- `time`
- `dt`

This makes no sense unless iteration based data is being stored and therefore these attributes should only be required when storing iteration based data.

[2020-10-31 16:49] DavidSagan commented on #200
Implemented in Beam Physics extension.

[2020-10-31 16:49] #200 closed, assigned to DavidSagan

[2020-10-31 16:56] #209 closed, assigned to nobody

[2020-11-03 17:21] ax3l opened #234 "ED-PIC fieldBoundary: add PEC/PMC"
In the ED-PIC `fieldBoundary` attribute we should try to differentiate better between PML (perfectly matched layers), perfect electric conductors (PEC) and perfect magnetic conductors (PMC).

We could be more precise for PML parameters and its implementation variants.

[2020-11-03 22:26] DavidSagan opened #235 "Proposed: gridDataOrder attribute"
Situation: For data storage with HDF5, the data of a grid (multidimensional array) is stored in the data file in same order as it is stored in memory. That is, with fortran, the data will be stored in column major order and with C/C++ the data will be stored in row major order. Thus, the standard needs to address how handle this.

Proposed: For the Beam Physics extension (at least). To have a `gri

[2020-11-04 03:33] ChristopherMayes commented on #235
I agree with this. This allows the developer to choose to transpose the data or the metadata as they prefer. Note that low-level tools like HDFView and h5dump will report reversed shapes for F ordered data.

[2020-11-04 17:31] ax3l commented on #235
We discussed further on this yesterday and might want to avoid a avoid situations like this:

Exactly, when comparing HDF5/ISO-C binding/memory-view attributes and shape, meta-data reversal *is* needed one way or another when dealing with C/F ordering.

Fixing `(meta/grid)dataOrder='C'` ensures a consistent view in low-levels tools, otherwise h5ls/h5dump with `(meta/grid)dataOrder = 'F'` for a rec

[2020-11-05 03:57] bussmann commented on #235
Hi, I am going a bit off-topic with this but I think one could in general decouple the data format used to store data from the representation in memory. This is left to the user for now and maybe it should.

There are however many relevant use cases for both particle and mesh data where these two representations differ.

My current solution to this would be to add meta data to describe data layout

[2020-11-07 03:48] ax3l commented on #231
Thank you for the proposal.
I think an alternative with could be to just allow to define the `meshesPath` to `./`, which means it is the exact `basePath` without further nesting.

I don't understand this, that's not in the base standard.

[2020-11-07 03:50] ax3l commented on #232
Thank you for the proposal.
I agree that this can simplify the standard and will incorporate it with the upcoming changes I need to do for `iterationEncoding` for ADIOS2.

[2020-11-07 03:58] DavidSagan commented on #231
@ax3l I'm sorry I'm not following what you are proposing. What does `meshesPath` have to do with this? My understanding was that meshes  were for internal fields and not external fields.

[2021-01-04 15:58] cosmonaut-ok opened #236 "Proposed: make option "recordBased" for iterationEncoding"
It's not comfortable to make separate file/group for each iteration in case of active working with time series (e.g. if required to select single point from every iteration). Much better to make `n+1`-dimensional array and write data to it. But, it breaks openPMD compatibility.

[2021-01-07 18:19] ax3l opened #237 "Extension: ParticleWeighting"
For more general usage, we could separate out from the `ED-PIC` extension the macro-particle defines into it's own extension.

Rationale: moving it to the base standard could be a bit too complicated for simple readers.

Potential non-PIC users: @AngelFP

[2021-01-07 18:30] ax3l opened #238 "Correlate Derived Mesh with Particle Group"
For species-derived fields (density, charge density, etc.) we don't currently correlate the name with the particle species.

VisualPIC as post-processing tool (@AngelFP) correlates the two in its gui, so it would be great to hint this explicitly.

One way to achive this: consistent naming scheme (e.g. PIConGPU & WarpX: `<species>_<filter>_<fieldName>`; FBPIC: `<fieldName>_<species>`).

Another way

[2021-01-07 22:44] ax3l commented on #236
Hi @cosmonaut-ok,

Thank you for the idea!

We plan something very similar, currently drafted as "variableBased" encoding related to #221.
In that, we will use the intrinsic capabilities of e.g. the ADIOS2 format to encode steps inside a data set (variable) if the file format supports this.

`n+1` dimensionality in other formats, e.g. HDF5, is thinkable as a work-around for those formats. Yet we n

[2021-01-08 09:31] AngelFP opened #239 "Include information about simulation domain boundaries outside of mesh records"
For data visualization purposes, it is useful to have information about the extent of the simulation domain of a PIC simulation even when only particle species are present in the output. Currently, however, one can only get this information if the output contains at least one field (mesh record).

As an example, this information would allow VisualPIC to set the spatial limits of a 3D render of a p

[2021-02-04 17:58] ax3l opened #246 "axisLabels: semicolon separated list"
Making `axisLabels` in the base standard a semicolon separated list can address a few onboarding issues that C/C++/Fortran users have when implementing openPMD against the native HDF5 APIs.

[2021-02-16 19:44] ax3l opened #248 "Geometry: Cylindrical"
Let's formalize the m=0 special case of `thetaMode` geometry for cylindrical geometry.

Refs.:
- https://github.com/openPMD/openPMD-viewer/pull/305
- https://github.com/AngelFP/Wake-T/pull/18

[2021-02-17 16:17] AngelFP commented on #248
Hi Axel,
Thanks for starting this discussion already! Similarly to the `thetaMode` geometry, and following the style in [STANDARD.md](https://github.com/openPMD/openPMD-standard/blob/latest/STANDARD.md), we could define it as follows:

`cylindrical`: regularly-spaced mesh in the r-z plane. The mesh arrays are stored as a two-dimensional record where the first and second axis correspond, respective

[2021-03-16 08:53] franzpoeschel opened #253 "No standard-conforming way to define a Series that only has meshes (resp. particles) in some iterations"
Issue first noticed while working on [this PR](https://github.com/openPMD/openPMD-api/pull/943) for the openPMD API.
Quoting the technical files on `meshesPath` and `particlesPath`:

Since both these attributes live at the root level of the hierarchy and cannot be defined specifically per iteration, this makes it impossible to have a Series where only some, but not all iterations contain meshes/pa

[2021-03-17 04:37] ax3l commented on #253
Thank you for raising this. We introduced the clarification in openPMD 1.1 to ease readers, but the choice should indeed be considered a defect.

It's easier to check for existence at read time than the problem it introduces at write time. I am still thinking if we should also mak the attribute optional, which is clearer for purely mesh- or particle-containing series. This then means we need at re

[2021-03-17 15:01] franzpoeschel commented on #253
So, a one-sided implication?
Current rule: mesh group exists **<->** meshesPath is set
Your suggestion: mesh group exists **->** meshesPath is set

If yes, sounds good with me.

[2021-06-24 18:45] ax3l commented on #142
cc @franzpoeschel

[2021-06-24 18:57] ax3l commented on #142
Brainstorming 06/24/2021: potentially use the `gridSpacing` name used for attributes as an optional openPMD directory name and place the 1D arrays per dimension spacing within.

Needs to work with:
- scalar records
- vector records
- constant record components (including constant scalar records)

E.g.:

### scalar records

- `rho` (ND data set)
- `rho/gridSpacing/x` (1D data set)
- `rho/gridSpacin

[2021-08-09 07:57] zerothi commented on #29
I have now read all your suggestions.

I have battled this myself and really find a complex data-type useful and required.

Some comments to @DavidSagan comment:

The above comments does not mention whether they are stored in as [(re, im), (re, im)] in a compound type, or as separate variables. This is important for performance critical read/writes. The following comments suggests a compound type

[2022-01-04 16:50] s9105947 opened #256 "Species Type: Full Grammar of some Ideas"
Dear Maintainers,

I am currently working on a [PICMI](https://github.com/picmi-standard/picmi/) implementation, which cites the OpenPMD ["Convention for Specifying Particle Species"](https://github.com/openPMD/openPMD-standard/blob/upcoming-2.0.0/EXT_SpeciesType.md).
While reading the extension my internal "hm, maybe this might be {too permissive|not entirely clear}" went of too often for my pers

[2022-01-04 16:50] s9105947 opened #257 ""single species" vs. "multiple species""
An openPMD `speciesType` can be either a single or multiple species.

## Clarification in Allowed Values
Currently, how to specify multiple species is only mentioned in the description, but not under allowed values.
(imo this should be also mentioned there.)

## Separator Positioning
Is a trailing separator valid, i.e. would `electron;positron;` be a valid species type?
And if this is allowed, are

[2022-01-04 16:51] s9105947 opened #258 "Species Type: Character Set after "other:""
To specify custom species, the species Type extension allows: "user are free to append a free text after a colon".
Is really **any** text allowed? (What even is *text*?)

IMO "free text" should be severely restricted, at least to "printable characters without semicolon (;)".
notable cases:

- semicolons ";" -> already is species list separator
- colons ":" -> is separator after "other" (though pro

[2022-01-04 16:51] s9105947 opened #259 "Species Type: Clarification on Atom Syntax"
In the species type extension:
Are temporary (three-letter UuX) to be supported by default?
E.g. "Any one or two-letter abbreviation from the periodic table, defined by..."

Is the case fixed?
E.g. "The first letter must be in upper case, and the second (should it exist) in lower case." or simply "The element name is case-sensitive."

Also regarding the language:
Is an isotope also an atom?
I.e. c

[2022-01-04 16:52] s9105947 opened #260 "Species Type: Suggestion for Ion Syntax"
The species type extension in the section for atoms notes:
"Any extension using this standard can define how to specify the charge state."

Would it be possible/advised to add such a definition?
I recon it is a somewhat common usecase, and would be justified in a standard.

I'd like to suggest the following notation:

Examples: `He^2+`, `H^+`, `Cl^-`, `O^2-`, `#3He^2+`
Generalized: `atom "^" *DIGI

[2022-01-04 16:52] s9105947 opened #261 "Species Type: Clarifications on Molecule Syntax"
The current version of the species type extension demands for molecule syntax:
"Use standard chemical notation, e.g.: H2O."

What is "standard chemical notation" specifically?

Notable cases:

- Molecules with charge, e.g. `OH-`
- complexes, e.g. `[NiCN]+`
- organic compounds, e.g. `C2O5OH`, `CH3COOH`, maybe even `CH3-COOH`, `CH3-CH2-CH3`
- *pedantic* there are more complex formulae which are "sta

[2022-01-04 17:35] DavidSagan commented on #256
@s9105947 I think your points are good ones. Could you form a PR with all this?

[2022-01-06 10:24] ax3l commented on #257
("A speciesType is either a single species or multiple species. Multiple species are a semicolon-separated list of single species with at least one element. A single species is either an elementary particle, a ...")

Sounds good to me, please feel free to post a PR.

I would not generally introduce this yet without a specific use case. We have a notion for simple mixed ions as molecules (we could

[2022-01-06 10:28] ax3l commented on #258
Is really any text allowed? (What even is text?)

Correct. Derived from the base standard, we always mean pure ASCII when we write text.
Yes, generally we leave `other:` unspecified for cases we have not yet thought about and that get standardized in later versions.
A semicolon is also fine in that case, maybe someone things of another compound or list and wants to use the same convention. When it

[2022-01-06 10:36] ax3l commented on #259
Q:

Current standard:

So I would say, if IUPAC gave out that temporary name, then yes, no problem. Note that temporarily here means usually ~10 years (and is easy to translate once a new name gets assigned).

E.g. "The first letter must be in upper case, and the second (should it exist) in lower case." or simply "The element name is case-sensitive."

Sounds good, feel free to add this in the firs

[2022-01-06 10:42] ax3l commented on #260
Yes, this is to avoid confusion and determine which components of the standard have precedence.
For instance, the `ED-PIC` convention has a clear meaning of charge, we then only add extra meaning with the `SpeciesType` extension to clarify that something is a Hydrogen or Carbon isotope.

Unless we have a concrete chemical use case, I would not specify this yet. This is also the reason why the "Mol

[2022-01-06 10:47] ax3l commented on #261
The answer for this is similar to https://github.com/openPMD/openPMD-standard/issues/260#issuecomment-1006464841:

We don't have a use case with a committed chemistry code yet and leave this open to the first one(s) that would like to adopt openPMD. I like your suggestion, but would not standardize it until we have a concrete use case/adopter.

Note for the future reader: @s9105947 works on PIConG

[2022-01-06 10:59] ax3l commented on #256
A few details: we always mean ASCII at the moment for text/string, defined by the base standard.

I like the formal definition, yet I think the standard is currently easy to read since we go by examples.

If you find a compact way to add the grammar to each existing section as a sub-bullet `ABNF grammar:`, the same way as we have a sub-bullet `type`, `scope`, `allowed values` and `examples` then t

[2022-01-07 13:01] s9105947 commented on #258
Thank you for the clarification on ASCII, I overlooked that ._.
I like the concept of reserving `other:` for entirely custom types and forbidding it from lists

So if I understand you correctly, a `speciesType` is:

1. one of the pre-defined species (fundamental particle, atom, maybe ion/molecule)
2. a list formed by multiple of those conforming to 1., separated by a **single** ";"
  - empty lists

[2022-01-07 13:01] s9105947 commented on #260
This touches "What *is* a species?", and I'd agree that the charge state of individual particles is not part of that -- i.e. it does not make sense to include the charge in a species definition.

Suggestion for standard text:

The base `speciesType` standard does not support ions.
The charge state ("ionization") is an attribute of an individual particle (or macroparticle), and therefore an impleme

[2022-01-07 13:03] s9105947 commented on #261
In this case I would suggest to remove the paragraph about molecules alltogether:

"The base standard does not encode molecules. However, an implementation MAY support molecules with an implementation-defined syntax."

In my opinion the current "use standard chemical notation" is not sufficiently clear.

[2022-01-26 01:17] ax3l opened #263 "Dublin Core Compliance"
Let's go through the elements in Dublin Core
https://ddialliance.org/resources/ddi-profiles/dc

and double-check we fulfill them (and if there is a technical mapping requirement).

Related to #219

[2022-02-10 17:00] DavidSagan commented on #260
Note: With the Beam Physics extension there is a `chargeState` array that can be used to specify the charge state of all particles individually.

[2022-02-17 23:56] ax3l commented on #237
Implemented by #242

[2022-02-17 23:56] #237 closed, assigned to ax3l

[2022-03-19 17:31] jonna20 opened #266 "Open pmd"

[2022-04-11 21:07] ax3l opened #267 "Relax thetaMode"
We want to relax the `thetaMode` geometry index order.

We want to continue to enforce that `m` is the slowest varying index in memory space, but `r` and `z` index order can be relaxed and derived from `axisLabels`.

WarpX order is different from FBPIC:
- https://github.com/ECP-WarpX/WarpX/pull/3030

openPMD-viewer: generalization of data processing
- https://github.com/openPMD/openPMD-viewer/pull

[2022-07-16 01:11] ax3l commented on #123
We should combine this with a solution to store boxes of fields (cannot find issue right now for this), so that we can reconstruct domain decompositions even if no particles are written.

[2022-09-06 06:43] psychocoderHPC opened #269 "particle patches with overlapping extents"
OpenPMD is defining particle patches https://github.com/openPMD/openPMD-standard/blob/1e1d1fe9fd5914628898ab36fb516c4cfc27eeca/STANDARD.md#sub-group-for-each-particle-species to speedup visualization/checkpointing and other operations.
Particle patches are a spatial region description with a link, defined by numParticles and numParticlesOffset to the large particle data array.
The standard is not

[2022-09-13 06:22] psychocoderHPC commented on #269
A scatch with 3 particle patches. Patches are overlapping *but* each particle is only linked from one particle patch.
![openPMD-particle_patches](https://user-images.githubusercontent.com/4037125/189824616-9f460bce-d55d-4240-99d6-396ab164759f.svg)

[2022-09-20 00:21] ax3l commented on #269
Thanks for raising this. So just to clarify: you ask if the patch constraints allow
- overlapping patch extents while keeping
- particles unique to one patch at a time

I think that sounds reasonable and should cause little issues, let me check if the wording needs an update.

[2022-09-20 00:24] ax3l commented on #269
Current wording as of 1.1.0:

That does not mean it has to be unique, so we are good here. You can do that and it fulfills the standard in openPMD 1.X :) There is also no plan to restrict this in 2.X.

[2022-09-20 07:54] psychocoderHPC commented on #269
Thanks for the answer.

1. I am voting for an update of the standard where it is explicitly mentioned that particle patches can be overlapping.
2. optionally. I am voting for restricting the standard and allowing that each particle can only be part of one patch. If multiple patches can link a particle then it is tough to detect particles linked from more than one patch. This is not a problem if pa

[2022-09-20 21:15] ax3l commented on #269
Sounds good, marked for clarification in 2.0.

[2022-09-21 17:07] franzpoeschel commented on #115
Alternative (and maybe more radical) suggestion:

* Allow custom group hierarchies with custom datasets and custom attributes inside every iteration
* Treat `meshes` and `particles` as keywords, reserved to openPMD (to be more precise: whatever is defined in `meshesPath` and `particlesPath`)
* Inside these paths, the typical openPMD hierarchy applies, and all data should follow strictly the openPM

[2022-10-12 18:04] ax3l commented on #115
That sounds useful and would be equivalent to relaxing meshes path from values like `meshesPath="meshes/"` to regexes such as `meshesPath=".*meshes/` (or the hard-coding of this exact regex in the standard).

I am not sure if we will not need an "exclude this from parsing" nonetheless via an attribute on custom groups/variables - without it we would keep things definitely fully separate besides sh